[2018-05-31 17:40] hacdias commented on #431
To use SSL with File Browser, it would be better to proxy to it via a web server like Caddy or Nginx. That way it is simpler.

I would advise you to use Caddy since it gives you automatically generated and free SSL certificates (through Let's Encrypt) and has an [extension just for File Browser](https://caddyserver.com/docs/http.filemanager).

[2018-05-31 17:41] hacdias commented on #432
Hello @FJHC, I need more details to know what might be wrong in order to solve this problem.

[2018-06-01 01:03] Equim-chan commented on #430
This is a good idea, though not all types of files are renderable.

[2018-06-01 06:54] hacdias commented on #430
Yeah, but we can easily support `raw` and let the browser decide what to do with the file. If it's previewable, it is rendered, otherwise, it is downloaded.

[2018-06-01 16:06] kzw200015 commented on #432
I face the same problem when I try to manager users.When I click "save",it showed the error message.Here is caddyfile
[code]

[2018-06-02 07:40] hacdias commented on #432
Could you activate the log option so we can check out which errors might be happening?

[2018-06-02 07:44] hacdias commented on #430
@ncresswell actually, this is feature is kind of implemented: instead of `raw`, try the following: `?dl=1&inline=true`. If it solves the issue, could you close it please?

[2018-06-02 07:47] hacdias commented on #429
Could you activate logging so we can take a look at the error that might be happening? Probably you just need to activate Caddy logging (for stdout for example), and you can see what's happening.

[2018-06-02 07:47] ncresswell commented on #430
Is there a list of supported search operators?

Rgds,

Neil Cresswell

On 2/06/2018, at 7:44 PM, Henrique Dias <notifications@github.com<mailto:notifications@github.com>> wrote:

@ncresswell<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_ncresswell&d=DwMCaQ&c=euGZstcaTDllvimEN8b7jXrwqOf-v5A_CdpgnVfiiMM&r=0fx0h4vB56iTLpw2McH1ZD6TqG_QGpbggVOB-PfMJpM&m=8_FVYz0i37uxn8teGIZNvSmTOBQp-9l

[2018-06-02 07:50] hacdias commented on #430
There isn't, but here's what you can do on **sharing** pages:

- `dl`:
	- 0 or not present - displays the button to download.
	- 1 - automatically downloads.

The other options come from download API:

- `inline` - if true, let's the browser decide what to do with the file instead of directly downloading it.
- `format` - can be zip, tar, targz, tarbz2 or tarxz. Only works for directories.

[2018-06-02 07:53] hacdias commented on #420
Status update: after checking out the code and seeing what we need to change, this will actually be more complicated than I thought it would be initially and will require some changes here and on the frontend repository.

[2018-06-02 14:32] kzw200015 commented on #432
Problem solved.It is my fault.I set `Protect Home`to `true` in the systemd unit.It causes that caddy can't read or write.

[2018-06-03 19:16] bkanuka commented on #415
I opened issue #336 which, if implemented, would allow this and other search customization. Unfortunately I gave it my best shot and couldn't get it.

[2018-06-04 01:41] ixjx commented on #429
THX,and this problem have been solved :)
I just modified the baseURL from / to /file

[2018-06-04 01:41] #429 closed, assigned to nobody

[2018-06-06 15:47] Benoit-Julien opened #434 "Moving file to hard drive error"
### 1. Have you downloaded File Browser from caddyserver.com? If yes, when have you done that? If no, and you are running a custom build, which is the revision of File Browser's repository?
I updated my server today.

### 2. What is your entire Caddyfile?
[code]

### 3. What are you trying to do?
I try to move a file to a hard drive.

### 4. What did you expect to see?
I expected that the file mov

[2018-06-06 18:32] yumere commented on #430
@hacdias
filebrowser is a awesome tool for me. I, however, want to share pdf and then also want the user given link can see pdf directly in browser. I just wonder your plan when you'll make inline option?

[2018-06-06 19:21] hacdias commented on #430
You can append `?dl=1&inline=true` to the URL so the PDF is directly previewed on the browser.

[2018-06-06 20:08] ncresswell opened #435 "Admin password"
Hi there, is there any way to set the admin password when starting filebrowser under Docker?

You already support "--other-flag other-value" but can that be used as "--adminpassword Letmein" for example?

You only list  --port 80, --database /database.db, --scope /srv as flags in the documentation, but is there a complete list of all supported flags?

[2018-06-07 17:25] juan11perez commented on #435
same question. basically we're looking for a persistent password. Is there a way to do it via the config.json file?

[2018-06-08 13:12] adminrezo commented on #300
Same issue on Debian.

[2018-06-13 03:11] zhentianxincun commented on #751
https://github.com/videojs/video.js

How to integrate this js into a powerful online player?

[2018-06-13 12:41] helloray opened #437 "UC Mobile Browser Issue"
UC Mobile is one of the most popular mobile browsers in China. However, filebrowser does not work correctly on it.  I searched the vue issue list and found this issue https://github.com/vuejs/vuex/issues/519. It said adding babel-polyfill could solve this issue. Could you please help to add it and resolve this issue? Thanks a lot.

You can download UC mobile from https://play.google.com/store/apps

[2018-06-13 13:27] jzaefferer commented on #257
Its possible that the only required change is this: https://github.com/var2dan/filemanager/commit/351dd8ee1244e231eb77b6efec57cb95dc2ab07b

Not sure if that still merges into current master; probably also needs updates to tests and docs.

[2018-06-13 16:06] ip75 commented on #390
Yes. You are right. Unable to share files when user has read only access. It is very uncomfortable. Please explain where i can change code in sources to enable it.

[2018-06-13 21:43] Equim-chan commented on #437
Duplicate with #261

[2018-06-13 21:43] #437 closed, assigned to nobody

[2018-06-14 09:48] hyunsoo0o0o0 commented on #373
I'm having a same problem, too. I linked filebrowser running on my docker to a storage where I also connected to a samba server, and when I create a file or folder through filebrowser, the owner of file is set to root so I cannot access from a samba client.
In case of [linuxserver/transmission](https://hub.docker.com/r/linuxserver/transmission/), it lets you set uid/gid directly via environments.

[2018-06-14 12:07] eine commented on #435
Might this be closed in favour of #257?

[2018-06-14 12:10] eine commented on #257
portainer/portainer is a partially open source web app where the backend is written in golang (although the frontend is based on Angular, instead of Vue.js). Having a look at their codebase might be interesting for anyone trying to implement this. See http://portainer.readthedocs.io/en/stable/configuration.html#admin-password

[2018-06-14 13:58] juan11perez commented on #435
@1138-4EB thank you. any methodology that allows a persistent password.
a password file would be good.

[2018-06-15 04:07] osdu opened #438 "怎么编译指定版本的程序"
自己编译的显示 filebrowser version (untracked)

怎么编译指定版本的程序，比如编译 v1.7.0

[2018-06-15 12:14] F-TD5X opened #439 "Add user register page or API for adding users"
Though there is a multi user managment, it is hard to add many users.
So I hope you can add a register page or some api for adding user.

And maybe it is necessary that filemanager should create a folder for a user and change it's scope after which is added.

[2018-06-15 12:24] eine commented on #435
@juan11perez, I think that the main issue here is not to save the password raw. Although it is not relevant for "home users", it seems that some users are expecting to use filebrowser as part of a (probably paid) service for third parties. Therefore, we should be careful about how we implement it so that we don't introduce a false feeling of security. Alternatively, a naive implementation is possi

[2018-06-15 17:52] juan11perez commented on #435
@1138-4EB thank you. apologies if I oversimplified. Just commenting from a user perspective as frankly cant add much in the way of process.

As it stands, it's open. So some (initial) solution is progress.

I tried blocking it with nginx password feature, but strangely enough it only works on Safari browsers. Meaning, when the dialog box pops up on chrome, firefox, etc and I type the user and pass

[2018-06-15 17:57] ncresswell commented on #257
Funny enough, im actually looking to use this project within Portainer as a way to provide users with a way to download files from existing containers persistent volumes.

[2018-06-15 23:09] eine commented on #257
@ncresswell, indeed, I got to know this project when you mentioned it in portainer/portainer#1380 in november. Do you think if the know-how you have in portainer about this issue can be somehow ported here?

[2018-06-15 23:14] ncresswell commented on #257
We have actually already added filebrowser as a template in Portainer, but we want to get even closer integration.

Where is the username/password actually stored? Is it embedded in a db or encrypted file somewhere?

Rgds,

Neil Cresswell

On 15/06/2018, at 4:09 PM, 1138-4EB <notifications@github.com<mailto:notifications@github.com>> wrote:

@ncresswell<https://urldefense.proofpoint.com/v2/url?u=h

[2018-06-15 23:24] eine commented on #257
@ncresswell it is saved in the database, but the default values are hardcoded. See comments https://github.com/filebrowser/filebrowser/issues/257#issuecomment-353321710 and https://github.com/filebrowser/filebrowser/issues/257#issuecomment-396936650 above.

Source at https://github.com/filebrowser/filebrowser/blob/master/filebrowser.go#L193-L196

In order to add a flag: https://github.com/filebrow

[2018-06-15 23:30] eine commented on #435
@juan11perez, there is no need to apologise at all. Your proposal is reasonable. I just wanted to point out the difference between doing something "less unsecure" or doing it "really secure".

Unfortunately, @hacdias must be busy with his uni exams. Let's wait until he can sit down and think about this.

Meanwhile, it'd be useful if you could partially document your approach in the referred issue.

[2018-06-15 23:36] eine commented on #438
There is an ongoing discussion about the build flow in #399.

[2018-06-18 16:08] edgeux commented on #328
i have this problem using the docker image. is there no way to configure the container from the json file to increase the setting?

[2018-06-19 22:07] ikwyl6 commented on #357
I had same problem with Illegal Instruction and using @Equim-chan directions above https://github.com/filebrowser/filebrowser/issues/357#issuecomment-366625310 solved my issue with using pogoplug ARM. Runs very fast!

[2018-06-19 22:32] ikwyl6 commented on #748
Is single click option available via the config file? I notice the use of a single click especially on iPhone when browsing and loading folders.

[2018-06-19 22:42] ikwyl6 commented on #326
Ability to add this in the config file?

[2018-06-19 22:44] airtonix opened #440 "Add multi-arch Docker images (for ARM architectures)"
[code]

Some seconds pass by...

[code]

[code]

[2018-06-20 08:06] pltanton commented on #440
Why can't you just slightly change [one line](https://github.com/filebrowser/filebrowser/blob/e3162e7170f329f37a13f7a64c2b760086e7692d/Dockerfile#L7) in Dockerfile by yourself?

[2018-06-20 09:57] airtonix commented on #440
@pltanton Yes, I guess I could. But then the official Docker image for `FileManager` would still not be [multi arch](https://developer.ibm.com/linuxonpower/2017/07/27/create-multi-architecture-docker-image/).

also this: https://stackoverflow.com/questions/39432668/travis-multi-architecture-buiilds

[2018-06-22 08:00] Korbeil commented on #418
You can also use something like [supervisord](http://supervisord.org/) which will restart the process if needed.

[2018-06-22 21:48] eine commented on #440
@airtonix, do you have any working example of building an ARM image in travis or any other ci platform? If so, I'd be glad to accept a PR on top of #399.

https://goreleaser.com/customization/#Docker, goreleaser/goreleaser#707 and goreleaser/goreleaser#530.

[2018-06-26 03:38] zxysilent opened #752 "Add custom context menu (rename, delete, etc.)"
Add right mouse button eg Rename、Delete etc

[2018-06-26 10:10] #417 closed, assigned to nobody

[2018-06-26 11:34] eine opened #444 "Update screenshots in the README"
#436 and filebrowser/frontend#9 are merged already. Now, the screencast/screenshots in the README should be updated in order to show the new logo.

[2018-06-26 11:35] eine commented on #417
@timonss the new logo is added to the master branch now. See https://github.com/filebrowser/filebrowser , https://github.com/filebrowser/filebrowser/tree/master/logo and #444.

Thanks for your contribution!

[2018-06-26 20:34] DeAlexPesh opened #445 "Simple installation + Russian language + editable frontend"
# Description here:
https://github.com/DeAlexPesh/filebrowser-frontend-ru

[2018-06-27 04:58] DeAlexPesh commented on #417
sorry, but the old icon was better..

[2018-06-27 05:17] eine commented on #417
@DeAlexPesh since we are using git as a version control system, you can easily keep the old version. Just make a fork, and remove the commits you don't like. You can also add your own if you prefer (related to #420).

[2018-06-27 11:27] #300 closed, assigned to hacdias, Equim-chan

[2018-06-27 11:39] hacdias commented on #417
One thing that I forgot to ask @timonss that is very important: under which license is the Logo?

[2018-06-27 11:55] DeAlexPesh commented on #417
@1138-4EB thanks, already saved the old version of [icon.svg](https://github.com/DeAlexPesh/filebrowser-frontend-ru/blob/master/logo.svg)
The new logo has too many small details, in the future it will turn into a headache..

[2018-06-27 12:08] eine commented on #417
@DeAlexPesh I both agree with you and prefer the new design at the same time. The previous one was too simple for me and I considered it to be more of a placeholder than an actual logo that identifies the project uniquely. I think that the one we have now is an attractive logo for pads, smartphones, etc. (see filebrowser/frontend#9), even though it can be tricky as a favicon/icon.

Anyway, as I sa

[2018-06-27 12:35] hacdias commented on #417
Yes, I have to take care of #420!

@1138-4EB yup, I created that repo to centralize our logo assets there instead of leaving them in this repo and with time we can create the versions for each purpose.

[2018-06-27 19:43] hacdias commented on #445
Hey @DeAlexPesh! That's very nice. Could you make a PR with the Russian translation on [frontend](https://github.com/filebrowser/frontend)?

[2018-06-28 03:10] timonss commented on #417
@1138-4EB .Very happy to contribute with you. 😁😁

[2018-06-28 05:56] DeAlexPesh commented on #445
@hacdias, [PR](https://github.com/filebrowser/frontend/pull/14)

[2018-06-28 10:36] DeAlexPesh opened #446 "Make splash screen or indeterminate progress bar for search"

[2018-06-28 13:58] ifengchao opened #447 "Compile a mipsel version"
How to compile a mipsel verison for openwrt routers ?
Anyone tried this?
Appreciated.

[2018-06-28 16:22] hacdias commented on #444
Added the screenshots. Would you like to make the GIF? 😄

[2018-06-29 05:55] ghost opened #448 "Different (optional) (Hugo) website root for each user account"
### 3. What are you trying to do?

Per user website root for Hugo. Optionally setting the users scope as the website root -
per user account rather than (only) globally. Basically having the option to allow multiple
users each edit their own Hugo sites, or in the case of multi-sites (e.g. i18n) having
multiple users work on different instances of the same site. E.g. example.co.uk, example.cn,
exam

[2018-06-29 06:21] ixjx opened #449 "Feature requests - single click mode on MobilePhone"
When I used filebrowser on my mobliephone, I found it's hard to enter a folder or open a txt file or play a mp4 , because you need to double-click the folder/file **very very very** quickly.

There is a issue #419 @ikwyl6 asked for the same feature.

Thanks for the great project and I hope it`s easy to use on the moblie device :)

[2018-06-29 06:48] ghost commented on #448
Addition 1:

And the option to manually set the preview path e.g.

https://filemanagerhomeurl.com/username/preview/

Addition 2:

The option to turn off Preview on a per-user basis

[2018-06-29 14:48] eine commented on #449
Also suggested in https://github.com/filebrowser/filebrowser/issues/314#issue-284780299.

[2018-06-30 06:12] ghost commented on #448
I do understand that running separate instances also solves this problem, but it would be nice to just have to run and monitor one instance.

I did find a bug however:

running instance for example.com

instance is started at hugo website root.

create extra user with scope ./content

if user does hugo new - the file gets created, but file browser automatically tries
to navigate to /content/newfil

[2018-06-30 17:03] eine opened #450 "CI and release scheme"
A single master branch is used.

When regular commits are pushed to GitHub:

- CircleCI:
  - The backend (filebrowser/filebrowser) is built for a single platform.
  - A golang linter ([gometalinter](https://github.com/alecthomas/gometalinter)) is executed.
- hub.docker.com:
  - The built-in service is used to build a Docker image, tag it as `latest` and, if successful, publish it.

When tagged com

[2018-07-01 08:46] hacdias commented on #447
Hey @ifengchao! I haven't added mips and misple versions to automatic releases because I've had some compiling issues in the past in the most recent versions. You can take a look at [Go's docs](https://github.com/golang/go/wiki/WindowsCrossCompiling) to see how to cross compile. Basically you just have to set the env variable for the platform and architecture and then compile as you'd normally do.

[2018-07-01 09:03] hacdias commented on #450
@1138-4EB I dropped Travis because it was **a lot slower** than Circle and in that time it was easier to get the different phases on Circle:

![image](https://user-images.githubusercontent.com/5447088/42132640-e4460834-7d13-11e8-8ded-61240e85d27e.png)

But I see now Travis is moving to GitHub Apps. We could try what you suggest and if it works, go for it. But we have to be careful about [Caddy bui

[2018-07-01 21:58] ghost commented on #323
I am experiencing the same issue but only for zipped downloads. Single file downloads correctly show file size in the download manager.

[2018-07-02 04:06] eine commented on #450
I expected that. Indeed, CircleCI should still be much faster than Travis, because the latter needs to spin up a "virtual machine" for each stage and then run docker on top of it, while CircleCI is designed to run docker images directly.

However, I think that Travis is offering a better solution from the integration point of view:

- Stages provide a similar functionality to the phases in CircleC

[2018-07-02 09:56] hacdias commented on #450
It sounds good to me. Thanks for all your work here 😃 It's being amazing!

[2018-07-02 14:12] eine commented on #448
Hi @gocpp , I'm glad to see that you reconsidered it and decided to reopen this issue. I'm replying to let you know that it is being read and that it is being taken as seriously as many other open issues in the project. However, as you may know, this project was started some years ago by a quite young student who started uni recently. No one is being paid to develop it and no one has enough free t

[2018-07-02 15:24] ghost commented on #448
Hi @1138-4EB, - thank you for your reply, much appreciated.

I will look into contributing although it will require me to pick up Go as a language (until now I have done most of my developing in C and C++), but I agree this project deserves more manpower.

As for the first issue - I did not mean using Hugo as the server, but using File Browser as a service for multiple users to work on multiple Hu

[2018-07-02 15:45] eine commented on #448
Then, I'm sure you'll pick the syntax very easily. It is so close to C. Not so much to C++. You can have a look at this preliminary version of the docs I wrote this weekend to welcome new contributors: https://github.com/1138-4EB/filebrowser-community/blob/patch-1/contributing.md If you want to go fast, just glance over https://tour.golang.org/ and then find your own way at https://github.com/gola

[2018-07-02 18:45] eine commented on #450
@hacdias just a quick update to let you know that this is almost ready. The only missing part is the Caddy [build server issue](https://github.com/filebrowser/filebrowser/pull/399#issuecomment-401897721). I registered, but there is so little info about the build process. So merging #399 will have to wait until we can find a solution.

[2018-07-02 23:42] ghost opened #451 "Problem with user scope in relation to Hugo website root"
Administrator adds a 2nd user - with scope ./content within the website root.
When the 2nd user then clicks "Hugo New" (make a new entry / post) the default behaviour of File Browser is then to automatically open the file - which it does by opening /websiteroot/content/newfile.
As the 2nd user however is limited to content in the first place, from his / her session it would be
/content/newfile. Th

[2018-07-03 00:08] ghost commented on #448
Hi @1138-4EB - Thanks for all the information, I'll look into Go for sure, perhaps it will come in handy for some other projects as well as contributing to this one. As for Vue.js - I'm a total noob when it comes to working with JavaScript frameworks (only do some minimal vanilla javascript from time to time), so that will probably take me more time to pick up.

Pasted the 2nd problem into a new i

[2018-07-03 09:07] rc452860 opened #452 "static/js/codemirror/mode/markdown/markdown.js 404"
### Instructions (remove before submitting):

1. Are you asking for help with using Caddy or File Browser? Please use our forum instead: https://forum.caddyserver.com.
2. If you are filing a bug report, please answer the following questions.
3. If your issue is not a bug report, you do not need to use this template.
4. If not using with Caddy, ignore questions 1 and 2.

### 1. Have you downloaded

[2018-07-03 09:22] eine commented on #452
Not added by default. You need to add them to the frontend and build filebrowser yourself. See https://github.com/1138-4EB/filebrowser-frontend/commit/52b25589b2299e337279641cb02029a6900996ed

[2018-07-03 11:14] rc452860 commented on #452
@1138-4EB thanks

[2018-07-03 11:14] #452 closed, assigned to nobody

[2018-07-04 13:48] ifengchao commented on #447
@hacdias Thanks you for your advice.

[2018-07-04 15:28] karim2001 opened #453 "Run in Start"
Hi,

Please, we are using Filemanager for a small community needs.

We installed Filemanager in Ubuntu, but we need to launch it every time we want to use it; How can it be launched everytime?

Thank's

[2018-07-04 15:59] eine commented on #453
Hi @karim2001! Please, have a look at #411 and #418.

Also, if you use the docker image and launch a container with `--restart always`, every time the docker daemon is started the container will be started too. To have the docker daemon started on startup, you can enable it with `sudo systemctl enable docker`. For further info: https://docs.docker.com/config/daemon/systemd/

[2018-07-06 15:52] alex-phillips commented on #373
I second this. The FS I'm mounting to upload/download/edit is never owned by root:root.

[2018-07-06 19:14] eine commented on #373
Filebrowser is run as the user executing it. Therefore, if you execute it locally, permissions are those of your user. However, as you said, running containers as root (`UID=0`) is the default behaviour of docker. Filebrowser images are based on scratch so there is no configuration related to usernames inside them.

There are some mechanisms to run docker containers as a user available on the host

[2018-07-06 19:24] alex-phillips commented on #373
The `--user` flag works fine for me. Thanks!

[2018-07-07 09:29] GRiverone opened #454 "Upload file failed"
### Instructions (remove before submitting):

1. Are you asking for help with using Caddy or File Browser? Please use our forum instead: https://forum.caddyserver.com.
2. If you are filing a bug report, please answer the following questions.
3. If your issue is not a bug report, you do not need to use this template.
4. If not using with Caddy, ignore questions 1 and 2.

### 1. Have you downloaded

[2018-07-07 13:22] eine commented on #454
Please, provide as much info as you can:

- If yes, when have you done that?
- What did you see instead (give full error messages and/or log)? Hint: either show the browser console or a screenshot.
- How can someone who is starting from scratch reproduce this behaviour as minimally as possible?

[2018-07-08 07:27] hacdias commented on #454
@GRiverone when using Caddy, we add this rules by default to the default user (Settings -> User Management -> Edit your user):

[code]

So the dotfiles are blocked by default, inaccessible and you can't create or upload them.

I don't really remember why I had this decision before, but I'm removing this default option because it doesn't make much sense. If the user wants to block them, they just n

[2018-07-08 07:29] hacdias commented on #454
See #455.

[2018-07-08 07:39] hacdias commented on #420
Starting this on https://github.com/filebrowser/filebrowser/pull/456.

[2018-07-08 07:51] hacdias commented on #420
This is not as easy as it seems since we would need to be passing files from the server-side and dump them into `index.html`. It would be easier to have instructions telling people how to build a custom build with custom Branding but that would also require the user to maintain it's own build system (we could create a script to simplify).

What do you think @1138-4EB @cashflys?

[2018-07-08 10:17] GRiverone opened #457 "Upload large files"
### Instructions (remove before submitting):

1. Are you asking for help with using Caddy or File Browser? Please use our forum instead: https://forum.caddyserver.com.
2. If you are filing a bug report, please answer the following questions.
3. If your issue is not a bug report, you do not need to use this template.
4. If not using with Caddy, ignore questions 1 and 2.

### 1. Have you downloaded

[2018-07-08 14:19] eine commented on #457
Hello @GRiverone! This seems to be a configuration problem with nginx, not directly related to File Browser. It might be related to https://stackoverflow.com/questions/2056124/nginx-client-max-body-size-has-no-effect

[2018-07-08 15:05] eine commented on #420
@hacdias, according to the README of go.rice, we can take advantage of the [order of precedence](https://github.com/GeertJohan/go.rice#order-of-precedence) to implement this. The default build embeds the logo and favicons as go source (`rice-box.go`). However, should these be left out and should we distribute them either as an appended ZIP or as a sibling dir, it should find them as well.

As a fi

[2018-07-09 07:37] deanet commented on #222
any update of this issue ?

[2018-07-09 13:48] jsjcjsjc opened #458 "how to use wget in filebrowser ?"
Dear all
here is my filebrowser.json
{
  "port": 60000,
  "noAuth": false,
  "address": "0.0.0.0",
  "reCaptchaKey": "",
  "reCaptchaSecret": "",
  "database": "/opt/filebrowser/filebrowser.db",
  "log": "stdout",
  "plugin": "",
  "scope": "/var/www/",
  "allowCommands": true,
  "allowEdit": true,
  "allowNew": true,
  "commands": [
    "git",
    "wget"
  ]
}

 and I run it in debian: screen -d

[2018-07-09 13:50] eine commented on #458
Try `$wget http://share.getpocket.in/25MB.test`. See filebrowser/frontend#7.

[2018-07-10 14:36] 84ace commented on #400
This didn't work for me, all i ended up needed was to set the --baseurl option (--baseurl /filebrowser), as the reverse proxy config i have pointed it at http://site/filebrowser rather than http://site

[2018-07-12 08:00] DeyV commented on #415
I suggest  change default behavior. Everyone use google and other search tools, and most of them is case insensitive. It is especially important in file search, when nobody think about letters size (excluding programmers)

[2018-07-13 05:30] jsjcjsjc commented on #458
thank you so much for your kind help ;-)
I have tested many times and find the problem. my port is 60000. if you use ip:60000 to log in ,everything  is perfect, but i use the  cong files below in nginx., then it will failed .
it looks i have to use 80 port for filebrowser

[code]

[2018-07-13 09:05] eine commented on #458
It seems that the issue is solved, so I'm closing this. Feel free to open a new one to ask about how to configure nginx with filebrowser.

[2018-07-13 09:05] #458 closed, assigned to nobody

[2018-07-15 08:11] wistarine opened #459 "请问大神 用frp 穿透后 提示 502错误。。。。如何解决啊？"
### Instructions (remove before submitting):

1. Are you asking for help with using Caddy or File Browser? Please use our forum instead: https://forum.caddyserver.com.
2. If you are filing a bug report, please answer the following questions.
3. If your issue is not a bug report, you do not need to use this template.
4. If not using with Caddy, ignore questions 1 and 2.

### 1. Have you downloaded

[2018-07-15 11:14] eine commented on #459
@wistarine, please, provide some more information about your setup and the issue you are facing.

[2018-07-16 12:07] VLEFF opened #460 "Support subtitles for videos"
Hi,
It would be a nice feature to be able to automatically link subtitles to videos (I'm currently using Substital Chrome extension, but it would be better if it was native)

I see here that it is a standard HTML5 feature : https://www.w3schools.com/tags/tag_track.asp

[2018-07-17 00:42] ikwyl6 commented on #748
Can someone point me in the direction of where I could find the code for the touch/click events? I'm not familiar with caddy or rice, etc. But if you tell me generally, I may be able to find this info for a patch. Or where the mobile http/css is created from. Thanks.

[2018-07-17 08:05] eine commented on #449
Closing in favour of #419.

[2018-07-17 08:05] #449 closed, assigned to nobody

[2018-07-17 08:08] eine commented on #748
@ikwyl6 I think that this is defined in the frontend only. See:

- https://github.com/filebrowser/frontend/blob/master/src/components/files/ListingItem.vue:
  - [L9-L10](https://github.com/filebrowser/frontend/blob/master/src/components/files/ListingItem.vue#L9-L10)
  - [L114-L142](https://github.com/filebrowser/frontend/blob/master/src/components/files/ListingItem.vue#L114-L142)
  - [L153-L155](h

[2018-07-17 12:40] mozzbozz commented on #372
@UnAfraid in your last comment, you have a typo: The docker-compose file binds the data volume to `/svr` while the config defines the scope to `/srv`...

[2018-07-17 15:56] UnAfraid commented on #372
@mozzbozz comment updated, thanks for catching it

[2018-07-17 16:48] mozzbozz opened #461 "Dockerhub docker image -> command line parameters don't work"
### What are you trying to do?
Install filebrowser via docker. Give a path to the config file via command line. Basically my command to run the container looks like this:

`docker run -v /home/mozzbozz/data:/srv -v /home/mozzbozz/config:/config -p 8080:80 hacdias/filebrowser --config /config/config.json`

My `/home/mozzbozz/config/config.json` looks like the following:

[code]

### What did you ex

[2018-07-19 12:01] OpaqueArc opened #463 "A non-standard txt file crashed the program"
#####Found the cause of the bug######
Predicted cause pasted at the bottom

No, I used the official script provided at https://filebrowser.github.io/installation/#one-step-script

Err, what exactly is Caddy file?

Environment: Ubuntu 16.04 on OpenVZ(VPS server)
To perform a speed test, i executed dd command to create a 50MB .**txt** file and tried to display it with Filebrowser (installation done

[2018-07-21 14:03] arteta22000 commented on #155
I'll need to change tool :(  without this option, it's unusable.

[2018-07-23 06:36] ndaidong opened #464 "Add description to file/folder"
Hi everybody,

Is is possible to add description to file/folder? If yes, how I can enable?

If not yet, I recommend to add this new feature. It may help to manage, search files/folders easier a lot.

Thanks,
Dong

[2018-07-23 08:13] hacdias commented on #155
@arteta22000 sorry for this... let me produce a test build with infinite scrolling just to make sure it works. WHich OS and arch do you use?

[2018-07-23 08:44] arteta22000 commented on #155
Debian 8, amd64.

[2018-07-23 08:48] wistarine commented on #459
thx a lot ....fixed my problems, coz frp sock configuration...

[2018-07-23 09:01] hacdias commented on #155
Here's the file: https://www.dropbox.com/s/8ltfl8l4h9st9ev/filebrowser?dl=0
I tried it on a dir with more than 1500 files and it seemed fast. Initially it will only show 50 items and when you scroll down, 50 more will be added.

[2018-07-23 09:02] hacdias commented on #155
(it has a bug when you select the file, but I'll solve it. just to make sure the pagination is good)

[2018-07-23 09:05] arteta22000 commented on #155
Ok, thanks, I'll check at lunch ;)
Can you control that the pagination is ok when we do a search?

[2018-07-23 09:06] hacdias commented on #155
Uh, the pagination was just for files and not search results, but I can add that.

[2018-07-23 09:33] hacdias commented on #155
Here https://www.dropbox.com/s/8ltfl8l4h9st9ev/filebrowser?dl=0
And I made search case insensitive by default.

[2018-07-23 13:15] arteta22000 commented on #155
Everything is working smoothly for now, much faster ;)
I ping you, if we report bugs. Thanks !!

You're pushing this in release ?

[2018-07-23 13:54] hacdias commented on #155
@arteta22000 1.9.0 coming soon!

[2018-07-23 13:54] #155 closed, assigned to nobody

[2018-07-23 14:16] #459 closed, assigned to nobody

[2018-07-23 23:06] francislavoie opened #749 "Workaround for videos that can't stream in browser"
Some videos (mostly .mkv) don't stream correctly in browsers because of missing audio codecs. Often in Chrome, the video will play, but no audio.

Normally, I'd just download the video, but that isn't the best option if the video file is huge and you just want to watch it _right now_ 😄

My thought would be to have an option in the UI somewhere to make a URL for streaming in VLC (maybe in the File

[2018-07-24 06:47] chinglinwen opened #466 "Wildcards in command arguments are not handled/expanded properly"
1. download from release page
2. no caddy

### 3. What are you trying to do?
gofmt after save

### 4. What did you expect to see?
success format the file

### 5. What did you see instead (give full error messages and/or log)?
internal server error

### 6. How can someone who is starting from scratch reproduce this behaviour as minimally as possible?

config global setting, add command ```gofmt -w

[2018-07-24 08:44] lordSeaworth opened #467 "Trying to use filebrowser behind traefik."
### 3. What are you trying to do?

Trying to run filebrowser behind traefik using a docker container.

### 4. What did you expect to see?

Being able to access the script (filebrowser docker image) trought my traefik setup like the rest.
When i use it trought host ports it works to browse the files. (server:8080)

### 5. What did you see instead (give full error messages and/or log)?
When visted t

[2018-07-24 16:59] eine commented on #467
Could you, please, provide the exact commands you are using to run both traefik and filebrowser. It'd be great if you could reproduce it in [play-with-docker](https://labs.play-with-docker.com/).

It seems that you are not using filebrowser on its own, but rather using it with caddy, is it?

[2018-07-24 17:08] eine commented on #466
If I don't get it wrong, you are trying to:

1. Execute filebrowser from a release binary.
2. Access filebrowser frontend in a browser.
3. Open a file in filebrowser.
4. Edit the file and save it.
5. Execute `gofmt -w *.go` in the 'Search box' of filebrowser, in order to have the edited file formatted.

If so, you should:

- Enable command `gofmt` in the config, not `gofmt -w *.go`.
- Then, write

[2018-07-25 09:57] hacdias commented on #466
On Settings you should just add a one word command. But it is also unclear if @chinglinwen is using hooks (after save hook) or typing the command after saving.

[2018-07-26 09:17] lordSeaworth commented on #467
Hmm i was using hacdias/filemanager:latest it seems. I changed it to hacdias/filebrowser:latest and it seems to work now.

This can be closed.

[2018-07-26 10:39] eine commented on #467
Reopening this and assigning it to me, just to remember adding a note to let users know which docker image to use.

[2018-07-26 14:34] danryu opened #469 "Custom upload view/template - query"
I'm integrating filemanager with my web service and it's working beautifully.

However, I want to add a custom function, ie to have a custom upload form which I can open in a modal on my website portal. Basically I want to have the "upload button" with the filemanager at a specific directory in the filesystem, to upload to a pre-determined location each time - and that's it, with none of the rest

[2018-07-27 07:51] chinglinwen commented on #466
@1138-4EB I tried by typing command on the searchbox, it doesn't work, though this also not my expectation way of format the go file. ( expect just click, and it automatic format it )

[code]

@hacdias I just click save, with after save setting to `gofmt -w *.go`, you said it should be one word in the setting of after save, I tried quote it, it's not working ( internal server error )

I also encou

[2018-07-27 10:55] xinfangsong opened #470 "502 Bad Gateway"
### Instructions (remove before submitting):

1. Are you asking for help with using Caddy or File Browser? Please use our forum instead: https://forum.caddyserver.com.
2. If you are filing a bug report, please answer the following questions.
3. If your issue is not a bug report, you do not need to use this template.
4. If not using with Caddy, ignore questions 1 and 2.

### 1. Have you downloaded

[2018-07-27 14:22] maweck opened #471 "Support SSO through HTTP Headers"
Hello together and thank you for providing this great project.

we are planning to use "filebrowser" internally, but sadly miss some features. The first one is SSO. All our tools are running behind a proxy which handles the authentication and authorization. If the user is allowed to access the tool, the proxy sets the "X-Forwarded-User" header (and some additional ones). The tools are looking for

[2018-07-27 17:47] yurividal opened #472 "Hide dot (.*) files and folders"
Hey guys. It would be great to have an option to hide or show hidden files. (files that start with .).

Maybe a user-based policy for such.

[2018-07-27 17:49] yurividal commented on #453
I created a systemd service for filebrowser. Works perfectly. Check Method 4 in https://www.dexterindustries.com/howto/run-a-program-on-your-raspberry-pi-at-startup/

[2018-07-27 17:50] yurividal commented on #752
+1 for this

[2018-07-27 22:17] eine commented on #418
I'm closing this because multiple alternatives have already been given. Feel free to continue the discussion.

[2018-07-27 22:17] #418 closed, assigned to nobody

[2018-07-27 22:19] eine commented on #470
Closing this because no info is provided. Please, reply to the questions in the template in order to let us know the context.

[2018-07-27 22:19] #470 closed, assigned to nobody

[2018-07-27 22:34] eine commented on #471
If I don't get it wrong, what you are suggesting would be potentially dangerous as it should only be used through a properly configured proxy. If not, any user providing any `X-Forwarded-User` will have access. Am I wrong?

Nevertheless, I think that this is an interesting feature. Should you be willing to contribute a PR to implement this, I suggest to please:

- Be explicit about the risk in the

[2018-07-27 22:55] eine commented on #411
Closed in favour of filebrowser/filebrowser.github.io#5.

[2018-07-27 22:55] #411 closed, assigned to nobody

[2018-07-27 22:55] eine commented on #453
Closed in favour of filebrowser/filebrowser.github.io#5.

[2018-07-27 22:55] #453 closed, assigned to nobody

[2018-07-28 07:55] hacdias commented on #472
Hello @yurividal - that option already exists. Altough you need to set it for each individual user. If you go to a user's settings, there will be an "allow/disallow/rules" section. There's an example in there showing how to hide . files.

[2018-07-28 11:31] yurividal commented on #472
Thank you! Can't believe I missed that.

Here is my block list now:

disallow regex [\\\/]\..+
disallow regex \$RECYCLE\.BIN
disallow regex System\sVolume\sInformation

[2018-07-29 12:36] yurividal opened #475 "Check for updates and automatically download/replace"
It would be nice to have a button to check for update releases of file filebrowser.  Perhaps a message saying a new version is available, or even a button to automatically download and replace the previous version.

[2018-07-29 14:07] pklink opened #476 "SSL/X509-Error on using ReCaptcha in Docker Container"
If I using ReCaptcha with Docker it is not possible to verify the captcha on login. I got the following error in the logs:

[code]

I found a very similar problem here: https://github.com/zenazn/goji/issues/126
As suggested linking the certificate CRT from host system into container solves my problem:

[code]

But I think it's more clean to install the root certificates in the docker image.

[2018-07-29 15:48] eine commented on #476
We can install the ca-certificates from the latest alpine image by using [multi-stage builds](https://docs.docker.com/develop/develop-images/multistage-build/):

[code]

[2018-07-29 17:09] eine commented on #472
@hacdias would it be possible to bind some keyboard shortcut (which is unused in browsers) to this specific feature? E.g. `Ctrl+Alt+H` as in [winscp](https://winscp.net/eng/docs/ui_commander_key).

On the one hand, settings are not accessible when `notAuth` is set to `true`. On the other hand, I think that it is desirable to be able to change this fast. For example, when browsing a repo, it is han

[2018-07-29 17:14] yurividal commented on #472
Great idea. Ctrl Alt H or Ctrl shift H would really be awesome.

[2018-07-29 17:23] eine commented on #460
@VLEFF Can we close this issue now that filebrowser/filebrowser#468 and filebrowser/frontend#18 are merged?

[2018-07-29 17:25] eine commented on #472
In Firefox `Ctrl+Shift+H` opens the History in a new window. Does `Ctrl+Alt+H` trigger anything in your browser?

[2018-07-29 17:32] eine commented on #454
@GRiverone can you reproduce this issue with the latest release?

[2018-07-29 17:35] eine commented on #447
@ifengchao any feedback about this? Should we keep the issue open?

[2018-07-29 18:06] #438 closed, assigned to nobody

[2018-07-29 18:44] eine commented on #466
I can reproduce it. `$gofmt -w *.go` in the search box fails because `*.go` is not handled properly. Indeed, the internal server error is related to this:

[code]

@hacdias, should [`fielpath.Glob(pattern string)`](https://golang.org/pkg/path/filepath/#Glob) be used?

I can also reproduce the limitation to edit the content of a `.go` file. This is a know issue. See filebrowser/filebrowser#358.

[2018-07-29 19:18] VLEFF commented on #460
Of course!

[2018-07-29 19:18] #460 closed, assigned to nobody

[2018-07-29 19:19] #467 closed, assigned to nobody

[2018-07-29 19:20] #476 closed, assigned to nobody

[2018-07-29 19:52] eine opened #482 "Improve release changelog"
Currently, the changelog for each release (created by [goreleaser](https://github.com/goreleaser/goreleaser)) does not include the commits/PRs that belong to the frontend. Only those in this repo are included. It'd be desirable to have all of them included.

See goreleaser/goreleaser#915.

[2018-07-30 07:56] maweck commented on #471
Hay @1138-4EB ,

Yes, if e.g. the proxy is not correctly configured or if the proxy can be bypassed. So I am more than fine with adding a warning about that feature.

That would be the plan :) My question here would be: How do you want the options to look like? Should I create a new option "proxy-auth" in parallel to "no-auth" or should there be something like "auth" that can be set to:
- no-auth

[2018-07-30 09:16] eine commented on #471
Are these options mutually exclusive? `no-auth` is exclusive for sure, so I think we should keep it as a separate flag. Then, `auth` (which enables multi-user support) should have two possible values: `default` (current implementation) or `proxy`.

However, should `default` and `proxy` be compatible (i.e. requests coming from a known proxy are accepted but any other requires a password), then `aut

[2018-07-30 14:08] hugomassing commented on #475
I'm currently searching a way to update only filebrowser with caddy? Is there a way to update without installing caddy again?

[2018-07-30 15:51] hugomassing opened #483 "Setup 'After upload' command"
**Description**
I have a server error everytime I upload something even with a command like "git status"

**Expected behaviour**
No error

**What is happening instead?**
Error 500 (notification in the right bottom)

**Additional context**
I want to update a file after it's uploaded

**Files**
every file is affected

[2018-07-30 17:08] eine commented on #483
@hugomassing, can you please let us know which version of filebrowser are you using (is it a release or you built your own), and provide the config file and the execution command. That will help us reproduce the issue.

[2018-07-30 17:49] hugomassing commented on #483
I tried with with one I build myself today, but it was not working with version 1.8 too. I'm quite a beginner with Caddy, but everything is working great so maybe the mistake is on my side

[2018-07-30 17:49] eine commented on #475
@hugomassing, caddy includes all the plugins at build time (see https://github.com/filebrowser/filebrowser/pull/399#issuecomment-407251536). I.e. the codebase of the plugins is embedded in caddy, because all of them are built together. Therefore, AFAIK the is no way to update only filebrowser, you need to rebuilt caddy. However, I think that each release is pushed to GitHub releases and Caddy buil

[2018-07-30 17:56] eine commented on #483
It's ok. Let's try to find the breaking point. Can you try with the [latest release](https://github.com/filebrowser/filebrowser/releases/tag/v1.9.0) standalone? Just download the binary for your platform, execute it (use the default credentials admin/admin), set the 'After upload' command and try to upload a file. Let us know what output you get, both in the terminal and in the browser console.

[2018-07-30 18:19] eine commented on #483
I just tried the following in a play-with-docker node:

[code]

And it works as expected. However, I had to ensure that:

- `git` is installed in the box where filebrowser is being executed.
- `git` is an allowed command in filebrowser.
- `git status` is executed in a git repo, i.e. the file is uploaded to a git repo.

Moreover, the test produces no output when the file is uploaded. I then execute

[2018-07-30 18:39] hugomassing commented on #483
I tried this as well and got it working. I guess the issue is that it produced a 500 when the command resulted in a crash. Also I tried to make the $FILE environnement variable working after an Upload, with no success. I would love to treat every file uploaded with a script. Can you help me with this one?

[2018-07-30 19:30] eine commented on #483
Please, provide an example script where you try to setup the FILE environment. Also, let us know what command are you actually putting in the 'After upload' field. Last, please copy any output you get in the terminal. If it crashes, the backend will tell why it crashed.

[2018-07-30 19:39] hugomassing commented on #483
I just did `echo $FILE` on After Upload and the terminal output was just $FILE.

[2018-07-30 19:41] eine commented on #483
Then, try something like `bash -c "echo $FILE"`.

[2018-07-30 20:28] hugomassing commented on #483
Okay and if I want to execute a command like `lltag --yes --mp3v2 --no-tagging --rename "%a - %t" $FILE`?

[2018-07-30 23:26] eine commented on #483
It's the same. The point here is that commands are executed in filebrowser/golang by calling the system directly. If you need them to be executed in a shell environment/context (because you are using shell features such as envvars), you need to tell it explicitly.

One option is to use `bash -c "your_commands"` or `sh -c "your_commands"` as commented above. For the specific command you ask about,

[2018-07-30 23:26] #483 closed, assigned to nobody

[2018-07-31 12:17] yurividal commented on #472
@1138-4EB not it Chrome

[2018-07-31 12:47] gestioko opened #484 "Searched filename in UPPER CASE is found but result is lower case, thus file not found :("
**Description**
I searched this File3.txt and is able to find but presented file is file3.txt

**Expected behaviour**
Should be able to find (yes this is achieved) however the presented file (in URL) is in lowercase. Upon clicking I get this "This location can't be reached".

[2018-07-31 18:18] eine commented on #484
This seems to be due to a somehow buggy implementation of the case sensitiveness. While searching for `File3` produces the result you describe, if you write `File3 case:sensitive` in the search box it will provide a valid result.

[2018-07-31 18:28] anothergituser opened #486 "How to configure apache as a reverse proxy (upgrade connection to websockets)"
**Description**
Use the search feature.

**Expected behaviour**
Find files

**What is happening instead?**
websocket: not a websocket handshake: 'upgrade' token not found in 'Connection' header
in logs

**Additional context**
The application runs with apache as a reverse proxy

**How to reproduce?**
Tell us how to reproduce this issue. How can someone who is starting from scratch reproduce this be

[2018-08-01 09:19] gdomod opened #487 "Symbolic Link not working in Docker Image"
**Description**
symbolic links are not working in docker image
i mounted my volume to /srv
in my volume i create some ln -s links to some folders

all folders showing as empty, permission are correctly

[2018-08-01 14:42] francislavoie commented on #486
This doesn't sound like an issue with this project. You'll just need to configure your apache to forward the `Connection` and `Upgrade` headers so that websocket connection can properly upgrade.

[2018-08-01 16:59] eine commented on #487
Please, can you provide some more info about the context so that we can reproduce it?

- Which image and version are you using?
- Which is the base OS?
- With 'volume' you mean a 'docker volume' or a host directory?
- Are links created from folders in the volume to folders in the volume or is any of them pointing outside?

[2018-08-01 23:16] wdcossey opened #488 "Can't add any files from the storage browser."
- Upload file
- Create file
- Create folder

All fail with an internal server error

[2018-08-01 23:19] wdcossey commented on #488
Resolved by stopping the volume browser and starting it again (with new credentials)

[2018-08-01 23:19] #488 closed, assigned to nobody

[2018-08-02 01:55] eine commented on #486
As @francislavoie commented, this seems to be a configuration issue with Apache. See, e.g.:

- https://stackoverflow.com/questions/29792372/apache2-websockets-reverse-proxy-on-same-url
- https://stackoverflow.com/questions/27526281/websockets-and-apache-proxy-how-to-configure-mod-proxy-wstunnel
- https://forum.mattermost.org/t/solved-apache2-reverseproxy-with-websocket-https/437/3

@anothergituser

[2018-08-02 01:55] #486 closed, assigned to nobody

[2018-08-02 03:50] eine commented on #287
Just tested it in a `golang-alpine` container and it works as expected:

[code]

[code]

@ryubaisan, please let us know if it works for you now.

[2018-08-02 03:50] #287 closed, assigned to nobody

[2018-08-02 04:51] eine opened #742 "Expressive file icons"
It would be useful to have file-icons. Example of a JS solution: https://github.com/xxhomey19/github-file-icon

[2018-08-02 06:30] gdomod commented on #487
thanks for fast reply.

in mount -v /var/www in docker image to /srv

and at host i mount ln -s /tmp to /var/www

in filemanager i see tmp but i got an error. is that maybe a docker protection ?

base os is ubuntu 18.04

[2018-08-02 12:57] eine commented on #487
Well, that's how docker works. It has nothing to do with filebrowser or the filebrowser image specifically.

Docker cannot follow symlinks outside of the volumes that are actually mounted/bind in the container. You created a symlink from `/var/www/tmp` in the host to `/tmp`. But, when the container reads `/srv/tmp -> /tmp`, it tries to follow the link to `/tmp` inside the container, which is empty

[2018-08-02 12:57] #487 closed, assigned to nobody

[2018-08-02 14:44] VLEFF commented on #475
I have installed it with https://filebrowser.github.io/get.sh, how can I update filebrowser for the moment?

[2018-08-02 14:51] eine commented on #475
@VLEFF running the script again should overwrite it with the latest version from https://github.com/filebrowser/filebrowser/releases/latest.

Alternatively, the binary should be located in `/usr/local/bin`. So you can just replace it manually. Download the tarball for your arch from the link above, extract it and copy/move the file named `filebrowser`.

[2018-08-04 00:38] eine commented on #350
@UnAfraid, if a user can upload a file, it means that there is write access. Therefore, the content can be browsed/seen. In this context, disabling the download button seems irrelevant, because you can always save the content you are able to see.

Please, provide some more info about the context:

- Are you suggesting to let a user upload files to a dir/scope but not be able to open the uploaded f

[2018-08-04 00:41] eine commented on #472
Related #355.

[2018-08-04 00:50] eine opened #489 "Configuration and database rework"
This issue summarizes the requested features for the workflow related to the configuration file, the database, how user profiles are set up, etc. Some of these are frequently shown in multiple issues and this is an effort to put them all together. It is also the place where we can add and track new related requests.

There was some previous discussion about this in #371. However, rather than mergi

[2018-08-04 00:50] eine commented on #349
Closing in favour of #489, which has a wider scope.

[2018-08-04 00:50] #349 closed, assigned to nobody

[2018-08-04 01:07] eine commented on #336
Closing in favour of #252.

[2018-08-04 01:07] #336 closed, assigned to nobody

[2018-08-04 01:07] eine commented on #252
We'll use this issue to track ideas, suggestions and enhancements related to the 'Search' feature:

- #336. External search commands.
- #415. Fuzzy search.

[2018-08-04 01:08] #415 closed, assigned to nobody

[2018-08-04 01:22] eine commented on #295
Closing this in favour of #466 and #486.

[2018-08-04 01:22] #295 closed, assigned to nobody

[2018-08-04 01:26] eine commented on #352
@gmemstr, please see #483.

[2018-08-04 01:26] #352 closed, assigned to nobody

[2018-08-04 01:29] eine commented on #353
@joshk132 could please provide some more info so that we can reproduce the behaviour?

[2018-08-04 01:53] eine commented on #394
Closing as duplicate of #224.

[2018-08-04 01:53] #394 closed, assigned to nobody

[2018-08-04 02:10] eine commented on #751
@zhentianxincun does the current latest release (which includes filebrowser/filebrowser#468 and filebrowser/frontend#18) support your use case?

[2018-08-04 02:24] eine commented on #409
@chenlm03 in the latest releases GOARM is used to produce multiple binaries for different ARM versions. Could you please try https://github.com/filebrowser/filebrowser/releases/download/v1.9.0/linux-armv7-filebrowser.tar.gz and let us know if it works for you?

[2018-08-04 02:28] eine commented on #412
Closing in favour of filebrowser/frontend#24.

[2018-08-04 02:28] #412 closed, assigned to nobody

[2018-08-04 02:30] #414 closed, assigned to nobody

[2018-08-04 02:35] eine commented on #407
1. Please open a separate issue.
2. Please open a separate issue.
3. Yes. See https://github.com/filebrowser/filebrowser/issues/472#issuecomment-408590576.
4. See #419.
5. Please open a separate issue.
6. See #208. Also, add a separate issue to suggest adding instructions.

[2018-08-04 02:35] #407 closed, assigned to nobody

[2018-08-04 02:52] #431 closed, assigned to nobody

[2018-08-04 02:53] #432 closed, assigned to nobody

[2018-08-04 02:56] eine commented on #434
@Benoit-Julien could please provide some more info so that we can reproduce the error? What messages do you get either in the browser console or in the terminal where filebrowser/caddy are being executed? Is the hard drive mounted in a dir inside the scope (i.e. `/home/julien`)?

[2018-08-04 12:09] #353 closed, assigned to nobody

[2018-08-04 17:17] eine opened #491 "Consider using 'flag' instead of 'spf13/flag'"
It seems that [spf13/flag](https://github.com/spf13/flag) is no different from the 'flag' package in the standard library:

- https://github.com/spf13/flag
- https://godoc.org/flag
- https://godoc.org/github.com/spf13/flag

Is there any reason to keep using it? What was the initial motivation to use spf13/flag?

[2018-08-05 00:10] UnAfraid commented on #350
@1138-4EB thanks for the reply.

I have this done with ftp, i have limited users to be able to upload files, not able to overwrite existing, not able to read even what they've uploaded.
Its a global upload directory that we use to receive files from clients that we must check, therefore we don't want other clients to be able to download content of this folder.

* Yes

* Yes

* Either auto-rename o

[2018-08-05 12:56] hacdias commented on #466
@1138-4EB instead of using filepath.Glob, we could do something like this:

[code]

That way, we're invoking the shell and then it will take care of globs and everything else. Although, we need to know in which platform we are to do so. We can check if there is an `sh` path or `bash` and on Windows PowerShell or just keep it running directly.

[2018-08-05 13:07] HesselTjeerdsma opened #493 "Rules: disallow all directories except"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I try to allow certain directories for a users.  I have a directory with many sub-directories, a certain user only needs access to some of them. Maybe it is doable with regex but I cannot get this to work.

**Describe the solution you'd like**
It would like there to be a function to allow all except:
disa

[2018-08-05 13:23] hacdias opened #495 "Use Waffle Board for management"
Maybe it would be useful to use [Waffle.io](https://waffle.io/filebrowser/filebrowser) to help us manage this project. What do you think @filebrowser/maintainers?

[2018-08-05 16:54] eine commented on #495
I didn't know about it. It seems very useful. Especially because it allows us to have a common entrypoint to manage all the repositories in the project. Let's use it.

However, I am still missing some messaging/chat service. Does waffle.io provide any or does it rely on slack? I have used both slack and gitter previously, and I think that the latter provides a better integration with GitHub. Howev

[2018-08-05 19:47] hacdias commented on #495
No, it doesn't have chat/messaging. Why don't we just use IRC, Slack or gitter.im? I'm just not sure which. I'm on IRC and Slack. I used gitter.im previously, but not anymore.

[2018-08-05 19:48] hacdias commented on #495
Just created a channel on freenode: https://www.irccloud.com/irc/freenode/channel/filebrowser

[2018-08-07 07:10] hacdias opened #498 "filebrowser/dev docker image"
@1138-4EB I see you created a [chore/devenv](https://github.com/filebrowser/filebrowser/tree/chore/devenv) branch to automatically build the filebrowser/dev image. I suggest using a separate repository. Not sure if you have permission to create repositories, but I'll create one and then you can move the stuff there.

[2018-08-07 07:11] hacdias commented on #498
Here it is: https://github.com/filebrowser/docker-dev

[2018-08-07 10:56] ghost opened #499 "Feature: Activity streams so users can not just share links but discuss content like you can in google drive."
**Is your feature request related to a problem? Please describe.**
Its additional. Activity Streams is a way for people to discuss things over a content store ( normally).
Its going through W3C and there are golang with vuejs code base so it fits with File Browser really well.

**Describe the solution you'd like**
The ability to have discussions over the content. FileBrowser already has the Share

[2018-08-07 12:06] palitu commented on #128
Yep - i would love picture thumbnails.  Even better if they would be cached.

[2018-08-07 12:10] palitu commented on #128
Also , resize the image prior to displaying it in screen.

hell - whilst i am at it, i stumbled upon filebrowser whilst looking for a way to display my photos over the net, with the system just publishing them as they sit on the filesystem...

[2018-08-07 12:29] #498 closed, assigned to eine

[2018-08-07 15:07] maweck commented on #301
I would also be quite interested in having the LDAP for Authorization to combine it with #471

So in my case the username would be provided through a header, but the filebrowser instance would need to check all other properties (Full name, email, general access rights) from an LDAP.

We also have some snippets for an LDAP connection in GO available, but I think this ticket is more than just adding

[2018-08-07 18:49] eine commented on #301
Hi @maweck! IMHO user management and interactions with the database require a rework. See #489. The flows need to be clarified, in order to allow further extensions.

It would be rather straightforward to rely on an LDAP for authentication, as you did with the proxy. However, I don't think that the database can be replaced, because it contains more info than just usernames and passwords. Disabling

[2018-08-07 19:08] ThibautMarty commented on #218
Apparently the symlink issue had been solved, but what about the mounted folder issue?
The mount point appears to be empty in filebrowser while it does contain some files.
I'm using latest docker image.

Regards,
Thibaut

[2018-08-07 19:54] ThibautMarty commented on #218
Never mind, I guess it is a problem with the docker volume + mount. It should work with the `shared` volume options.

[2018-08-07 20:16] Darkham42 commented on #400
I've the same issue...

I launch filebrowser with :
`./filebrowser -c filebrowser.json`

My filebrowser.json :
[code]

and my nginx conf for my subdomain :
[code]

I've tried what's above and still have the same errors as @lewisxy, anyone have an idea ?

[2018-08-07 21:31] eine commented on #218
@ThibautMarty does it work if you start filebrowser in the host, instead of using the docker image?

[2018-08-08 07:27] maweck commented on #301
Hello @1138-4EB ,

thank you once again for taking so much time for us :+1:

Yes, but I think when an LDAP is used, the Database should not manage users at all. I think LDAP should always be the single point of user management in your company.

Yeah, that is also true - But that is something which the one decides who configures the LDAP -> Does he provide a read only account for the LDAP connectio

[2018-08-08 07:43] Darkham42 commented on #400
Thanks to @hacdias I've found the error...

In my json config file :
[code]

And it's working right now ! Thanks a lot.

[2018-08-08 09:00] Darkham42 opened #502 "More flexible rights/permission scheme"
**More flexibilty to assign rights**

It could be great to explode the right "rename/edit and delete a file".
In fact we can wish to give rights to rename a file but not to delete it.

I don't think it's really hard and if nobody do it until I take a look at go I'll do a PR ;)

In the same order, but more difficult, would be to give rights by folders (more flexibility again but more difficult).

W

[2018-08-08 09:01] yaskor opened #503 "Where is the docker image?"
https://hub.docker.com/r/hacdias/filebrowser/
https://hub.docker.com/r/hacdias/filemanager/

both give 404

[2018-08-08 09:06] #471 closed, assigned to nobody

[2018-08-08 10:33] eine commented on #503
Hi @yaskor! We changed it yesterday and we have not updated all the docs and references yet. It is now available in [hub.docker.com/r/filebrowser/filebrowser](https://hub.docker.com/r/filebrowser/filebrowser/). However, note that it is a "rolling" image, until we push the first release with the new CI scheme.

See #450 and #492.

BTW, we would be so glad if you told us where you found (now) invali

[2018-08-08 10:40] samil-kale commented on #503
Thx for the quick answer.

If found the reference on the offical [github](https://github.com/filebrowser/filebrowser) readme.md

[2018-08-08 10:51] hacdias commented on #503
Updated the README! Thanks @yaskor

[2018-08-08 23:07] eine commented on #495
While I was organizing the content in waffle.io, I realized that it is quite similar to GitHub projects. @hacdias, did you try this? What advantages does waffle offer?

Although I cannot see the 'Projects' tab here (yet), I think you can enable it by creating one in https://github.com/filebrowser/filebrowser/projects.

[2018-08-09 07:53] emeryao commented on #503
looking forward for the new docker image

[2018-08-09 08:41] EasyChris commented on #461
I also can't find database.db . where can i load database.db?

[2018-08-09 09:54] Marneus68 opened #507 "Disable user submitted stylesheets"
I'm using filebrowser in a configuration where I have some administrative accounts who submit content and multiple shared user account with different permission levels who access said content. I would like to be able to disable user submitted stylesheets as I would like all shared accounts to have the same user experience and prevent some users to disrupt the experience of other users they share t

[2018-08-09 14:44] eine commented on #503
@Emeryao, as commented above, it is already available at https://hub.docker.com/r/filebrowser/filebrowser/tags/. What do you mean?

[2018-08-09 14:44] #503 closed, assigned to nobody

[2018-08-09 15:49] emeryao commented on #503
can we push a *versioned* tag to docker hub besides of the `latest` ?

[2018-08-09 16:00] eine commented on #503
Yes. We are about to do it (see https://github.com/filebrowser/filebrowser/pull/497#issuecomment-411584661). But travis is not detecting our pushes right now, so we need to wait (see https://github.com/filebrowser/filebrowser/pull/505#issuecomment-411622451 and https://www.traviscistatus.com/).

[2018-08-09 18:14] eine commented on #461
@mozzbozz , @EasyChris thanks for your report. I pushed a fix and it will be available as soon as it is merged and travis builds it.

[2018-08-09 18:36] sebastienhouzet opened #509 "Error on your documentation"
Hello !

First, your tools is very Good !

On your doc, you have mistake on docker comman : https://filebrowser.github.io/installation/#docker

You need to replace "hacdias/filebrowser" by "filebrowser/filebrowser"

Thx for your tool.

Seb

[2018-08-09 18:55] eine commented on #509
Fixed. Thanks!

[2018-08-09 18:55] #509 closed, assigned to nobody

[2018-08-11 11:29] hacdias commented on #507
Somewhat related to #502 - one more option to add: allowStyling.

[2018-08-12 03:17] chenfeichen opened #510 "How can I get my admin password back if I forget it?"
How can I get my admin password back if I forget it? I try to delete the database but seems to make no effect?

[2018-08-13 10:26] F-TD5X opened #511 "Need HEVC(h.265)/VP9 support"

[2018-08-13 10:28] eine commented on #511
Please, use the provided template: https://github.com/filebrowser/filebrowser/issues/new?template=feature_request.md

[2018-08-13 10:28] #511 closed, assigned to nobody

[2018-08-14 12:26] yurividal commented on #507
[offtopic] Speaking of stylesheets, could we have some examples of nice stylesheet mods, maybe posted to the readme?

[2018-08-14 12:40] yurividal opened #512 "Implement Right Click Menu"
**Is your feature request related to a problem? Please describe.**
Right click menu would make UI more intuitive.

**Describe the solution you'd like**
Right click a file, should bring up a menu with common actions, such as rename, copy, move, delete, or share.
Right Click a Folder could also be implemented.
Long-click on mobile version could be an alternative. Could be inspired in Google Drive si

[2018-08-14 12:42] eine commented on #507
@yurividal, see e.g. #208. Also, please consider opening a new issue to discuss either documenting style mods (probably in [filebrowser/community](https://github.com/filebrowser/community)) (also suggested in #407) or enhancing filebrowser to support multiple 'default' CSS and a dropdown select for each user.

[2018-08-14 12:45] eine commented on #512
Closing as duplicate of #442. Please, write any additional suggestion there.

[2018-08-14 12:45] #512 closed, assigned to nobody

[2018-08-14 12:54] yurividal commented on #752
Example as implemented in Google Drive:

![right_click](https://user-images.githubusercontent.com/8555749/44092863-065cacaa-9fa8-11e8-8638-386bc5e4f89c.png)

[2018-08-16 05:09] jcklpe opened #513 "Hi, I was wondering if it was possible to run or use this with Ubuntu for Windows Subsystem Layer?"
Hi, I'm a designer learning to code. So first I just want to say this project is BEAUTIFUL! It just looks really great. I love it.

I was looking for an alternative file browser for Windows when I came across this. I don't think it's really what I need for Windows but I'm intrigued about using it with my WSL installation.

Sometimes I'd really like to have a GUI interface to mess with files but yo

[2018-08-16 05:29] eine commented on #513
Hi @thedonquixotic, is there any reason to run filebrowser in WSL and not in Windows directly?

[2018-08-16 05:36] jcklpe commented on #513
@1138-4EB Well the reason for wanting to run it in WSL is two fold.:
1. I tried installing on windows and it gave me some weird errors.
but more importantly
2. I don't actually have a GUI solution for messing around with files in WSL right now so this would fill a niche for me that I really need! I can use MidnightCommander to transverse the CLI and copy files etc in a more visual way but this loo

[2018-08-16 08:37] #461 closed, assigned to eine

[2018-08-16 09:19] eine commented on #503
@Emeryao tag `v1.10.0` is available now. See https://hub.docker.com/r/filebrowser/filebrowser/tags/

[2018-08-16 09:21] eine commented on #461
@mozzbozz , @EasyChris this should be fixed now. Can you please try the `latest` image at https://hub.docker.com/r/filebrowser/filebrowser/tags/ and let us know if it works for you?

[2018-08-16 16:55] DeyV commented on #222
I did this, but I'm not sure, that it is best method to do that.

https://github.com/DeyV/filebrowser-dockercompose

1. added p7zip to docker
2. simple bash to unpack archives in directory and remove them
3. this bash as additional command  "commands": ["unpack"]

[2018-08-16 17:04] DeyV commented on #510
Users and they password are saved in DB.
Password is saved as hash, so it's not possible to retrieve it.

But if You delete this DB and restart filebrowser, app will start with default admin account and password

[2018-08-16 17:45] eine commented on #510
Hi @chenfeichen. As @DeyV explained, removing the DB should restart filebrowser. However, your browser cache might be trying to use the old credentials. Can you try either cleaning the cache or opening a tab in incognito mode?

If it does still not work, please let us know about your context: whether you are using the docker image or caddy, which version of filebrowser is it, the plaform, etc.

Fo

[2018-08-17 04:20] zhentianxincun commented on #751
@1138-4EB , thank you for your work, Installed caddy+filebrowser1.10, chrome 67, I can select srt in the lower right corner of the player, No subtitles are displayed. Once selected, the subtitles will disappear from the list.
Ass subtitles is not recognized.

[2018-08-17 16:09] eine commented on #513
@thedonquixotic I could make some test in a Windows box. Conclusions:

- In order to use filebrowser in MSYS/MinGW, you should download the windows-amd64 build: https://github.com/filebrowser/filebrowser/releases/download/v1.10.0/windows-amd64-filebrowser.zip It works ok.
- In order to use filebrowser in WSL, you should download the linux-amd64 build: https://github.com/filebrowser/filebrowser/rel

[2018-08-17 16:18] eine commented on #222
@DeyV, installing additional dependencies in the host (be it the 'real' host or the docker image/container) is an option, which can be used right now as in your example. However, I think that this issue is focused on integrating this feature in the code base, so that filebrowser can be still used as a standalone single binary app. E.g., https://github.com/mholt/archiver can be used to provide such

[2018-08-17 16:23] eine commented on #751
Thanks for testing @zhentianxincun! When you say that no subtitles are displayed, do you mean `ass` subtitles or `srt`? I think that only `vtt` and `srt` are supported for now. See https://github.com/VLEFF/filebrowser/blob/4b2f3feca14f876719dcbe383579b7bdc2bbd4ee/http/subtitle.go#L21

If any of these are not working (they disappear form the list but nothing is shown), @VLEFF might help us debug th

[2018-08-18 01:03] jcklpe commented on #513
@1138-4EB Excellent. Worked liked a charm!

It launched me into the Windows home folder and not the WSL home folder. Which makes sense as that is what the terminal does also. I'll have to test to see if using symlinks is a viable way to get to that home folder. Though I think I might ultimately be better off just symlinking anything I need to edit etc out into the windows folders. That's what I do

[2018-08-18 01:36] eine commented on #513
Great! Since you already got it working, I'm closing this issue. Anyway, feel free to continue the conversation and add any further test results that you'd like to share.

[2018-08-18 01:36] #513 closed, assigned to nobody

[2018-08-18 17:35] zhentianxincun commented on #751
I mean `srt`. Can choose to load but does not display.

`ass` does not even show up in the list. Will the next support for ass subtitles?

[2018-08-18 17:44] VLEFF commented on #751
Hi,

VTT format is the only sub format supported by HTML5.
Since VTT and SRT format are nearly the same, I made a simple converter to display SRT too.

In all case, if the final file provided to the subtract tag is not in the VTT format, the subtitles are not displayed.

Can you provide the .srt file you want to read?

[2018-08-20 07:56] zhentianxincun commented on #751
https://subtitlesplus.com/subtitles/westworld-244/english/394288
Test?

The video itself has embedded caption tracks. Is it caused by it?

[2018-08-20 08:07] hacdias commented on #507
We should wait for #506 before doing this because of the commands compatibility.

[2018-08-20 08:30] VLEFF commented on #751
Sadly, the file seems clean and it should work =(
I don't really have time for the moment, I'll try to check that as soon as possible.
Can you tell me what browser you use and which version?

ps : Nice show ;)

[2018-08-20 08:55] zhentianxincun commented on #751
Caddy11+filebrowser1.10, chrome 67, thank you for your working.

[2018-08-20 11:29] zhentianxincun commented on #493
I sincerely hope to see such permission settings.
![snipaste_2018-08-20_19-27-05](https://user-images.githubusercontent.com/35227732/44338067-62494080-a4af-11e8-9cc8-10d7dd617c44.png)

[2018-08-21 14:41] hugomassing commented on #484
I did a quick fix for this in #515.

let me know if this is OK for you!

[2018-08-21 14:41] yurividal opened #516 "Installer Script does not Work in Raspberry Pi"
**Description**
Installer Script does not Work in Raspberry Pi because it looks for file linux-arm-filebrowser.tar.gz instead of file linux-armv7-filebrowser.tar.gz

**Expected behaviour**
Should download the right version. linux-arm-filebrowser.tar.gz does not exist.

**What is happening instead?**
404

**Files**
get.sh

[2018-08-21 15:39] eine commented on #516
Thanks for reporting @yurividal! According to https://github.com/filebrowser/filebrowser.github.io/blob/master/get.sh#L53-L65, `uname -m` is used to detect the arch. Can you please execute it in the RPi and tell us which is the output?

[2018-08-21 15:42] yurividal commented on #516
pi@raspberrypi:~ $ uname -m
armv7l
pi@raspberrypi:~ $

[2018-08-21 15:59] chenfeichen commented on #510
thank you @1138-4EB @DeyV

[2018-08-21 16:05] eine commented on #516
@yurividal can you please try https://raw.githubusercontent.com/filebrowser/filebrowser.github.io/e921a287e71f54fffd87a9db60201602d7380c4d/get.sh ?

[2018-08-21 16:06] #510 closed, assigned to nobody

[2018-08-21 16:09] chenfeichen opened #517 "Nginx reverse proxy error 502"
I am trying to set up a reverse proxy of nginx(without php) to avoid entering an ip address（I dont like Caddy）.
However, I get a 502 while I can access via IP address.
the following is my Nginx conf, if anyone could help?[ps: there is no error logs for nginx which means the proxy do work]

[code]

[2018-08-21 16:27] eine commented on #517
Hi @chenfeichen! Have you tried checking other nginx related issues? https://github.com/filebrowser/filebrowser/issues?utf8=%E2%9C%93&q=is%3Aissue+sort%3Aupdated-desc+label%3Aproxy+ E.g. #400, #372, #458.

[2018-08-21 16:37] yurividal commented on #516
@1138-4EB it works thanks.

[2018-08-21 16:43] #516 closed, assigned to nobody

[2018-08-21 16:46] yurividal commented on #516
i added
[code]
Because i use filebrowser as a service. Im not 100% sure if this is necessary, but just wanted to make sure. Dont know if this could be added to the script, maybe doing a check,

[2018-08-21 16:59] eine commented on #516
@yurividal, there is a ongoing discussion about it in filebrowser/filebrowser.github.io#5.

[2018-08-21 21:42] #360 closed, assigned to nobody

[2018-08-22 01:47] eine commented on #360
@bcardiff, @veteran29, @davidpelayo, @derekoharrow, this is now merged in master, along with other enhancements (#506). It will be available in the next release.

You can see implementation details in #504 -> #506. See also [spf13/viper#working-with-environment-variables](https://github.com/spf13/viper#working-with-environment-variables) and [precedence](https://github.com/spf13/viper#why-viper).

[2018-08-22 01:57] eine commented on #507
#506 is merged now :smile:.

[2018-08-22 03:21] eine commented on #491
This is no longer an issue, because [spf13/cobra](https://github.com/spf13/cobra/) is used now (#506).

[2018-08-22 03:21] #491 closed, assigned to nobody

[2018-08-22 04:46] juan11perez opened #518 "Docker Latest Broken"
Running docker image in Ubuntu 18.04

watchtower updated to latest and container is producing these errors:

[code]
downgraded to image v1.10.0 and it's working again with no errors

[2018-08-22 06:51] 1405040117 opened #519 "Show upload speed and progress during upload"
Hope achieve upload file display percentage progress and upload speed, similar to BaiduYun.

[2018-08-22 11:16] eine commented on #518
Hi @juan11perez! Thanks for reporting. Please, could you let us know the exact command you are using to start the container? I just tried it and it works as expected:

[code]

[2018-08-22 11:23] eine commented on #519
Related to #367 and #446.

[2018-08-22 15:25] #484 closed, assigned to nobody

[2018-08-22 15:41] eine commented on #484
The fix by @hugomassing is merged in master now. It will be available in the next release. Meanwhile, you can try the latest docker image (`filebrowser/filebrowser:latest`).

[2018-08-22 19:38] bcardiff commented on #381
Now that #360 is in master I can vote for this also :-). I was also interested in a one-click-install, in my case for rancher, but without admin password config option is not a good fit for public usage.

[2018-08-22 19:49] bcardiff commented on #360
Probably it's on its way, but is hard to know the allowed config options. Between  #504 and #506 I am a bit lost what is the current rule to map `"some.config"` to an env variable. Is it `FB_SOME_CONFIG`/`FB_SOME__CONFIG`/`FB_SOME.CONFIG`/`FB_some.config`? I am not used to the codebase and packages used. From a user perspective knowing the convention will be really helpful.

Thanks for resolving t

[2018-08-22 21:26] hugomassing opened #520 "Build Caddy from source"
Before the recent changes, I was able to build my own caddy version with filebrowser and update my version of filebrowser by hand.

Now when I build my caddy executable, when running it, I have this error :
[code]

I may be missing something, but what's the proper way to build Caddy with filebrowser without downloading it from the website? I've looked in the various build script, but didn't found

[2018-08-23 00:21] eine commented on #520
I think that this is the point. Bear with me:

`filebrowser` is a repository, `frontend` is a subrepo/subdir, and `caddy` is an 'external' repo.

Prior to #399 and #506, the procedure was:

- Build `filebrowser/frontend` from `filebrowser/frontend`, which left the artifacts in `filebrowser/frontend/dist`.
- Pack the content of `filebrowser/frontend/dist` to `filebrowser/rice-box.go`, by executing

[2018-08-23 00:45] eine commented on #360
The relevant lines, which were introduced in #506, are [cli/cmd/root.go#L65-L67](https://github.com/filebrowser/filebrowser/blob/master/cli/cmd/root.go#L65-L67). Note that it is the same as [#504/files](https://github.com/filebrowser/filebrowser/pull/504/files), with an additional replacement. Therefore the format is:

- Prefix `FB_`.
- Convert key/flag to uppercase.
- Replace `.` with `_`.

The f

[2018-08-23 02:43] eine commented on #381
Indeed, with #506 we removed possible inconsistencies between the config file, flags and envvars. Also a placeholder for database related CLI (sub)commands was added.

Therefore, it is relatively straightforward to add default `user` and `password` fields to the config file, flags and envvars at the same time. The user is not a problem, but as commented by @hacdias in [371-issuecomment-370157182](

[2018-08-23 03:48] bcardiff commented on #381
For the use case of one click installers simple docker deployment having a `--admin.pass` / `FB_ADMIN_PASS` would be enough. Ideally upon start up of the service the provided `admin.pass` should be used to initialize/override the admin user password and storing it as however is preferred. But it should be provided as clear text from a configuration perspective.

This is similar as how pg or mysql

[2018-08-23 08:37] hugomassing commented on #520
Okay, I got this working with method 2. Thank you so much for your help with this. Learned a lot using your code!

[2018-08-23 08:37] #520 closed, assigned to nobody

[2018-08-23 13:08] ldesousa opened #521 "Bug or feature: symbolic link to folders shown as files"
**Description**
Filebrowser shows symbolic links to folders as files.

**Expected behaviour**
Symbolic links to folders showing as folders.

**What is happening instead?**
Symbolic links shown as files

**Additional context**
Is this a glitch? Or is it made on purpose?

**How to reproduce?**
Create a symbolic link in the scope.

**Files**
-

[2018-08-23 19:26] bcardiff opened #522 "BaseUrl not longer honored when in url of static assets"
In v1.10.0 I was able to use `--baseurl` to host the FB in a specific route.
In master I am not able longer to do that because the url of the assets does not include baseurl and are linked from root.

With v1.10.0 (right behavior):

[code]

With latest (broken):

[code]

browser will request the invalid url `localhost:8080/static/js/app.c9e23184bf5593511600.js`

[2018-08-23 23:52] eine commented on #522
@bcardiff thanks for reporting! It is fixed now.

@hacdias, the underlying issue was that in #506 all the config keys where lowercased, in order to have them automatically identified by `viper.BindPFlags`. However, I forgot to change them in the frontend. Therefore, the fix to this issue was to rename `BaseURL` in `frontend/build/config.js`: https://github.com/filebrowser/frontend/commit/3ae9e518a

[2018-08-24 01:44] #451 closed, assigned to nobody

[2018-08-24 01:44] #448 closed, assigned to nobody

[2018-08-24 02:45] eine opened #523 "User scope in relation to Hugo website root"
See #451.

[2018-08-24 02:49] eine opened #524 "Different (optional) website root for each user"
See #448.

[2018-08-26 10:28] ghost opened #525 "Make it easier to get started with Docker"
**Is your feature request related to a problem? Please describe.**
Getting started with Docker is not as simple as it could be. https://filebrowser.github.io/installation/#docker In order to map database.db, you need to have a database.db file but as a new user where do you get this file from?

**Describe the solution you'd like**
Most of the time when creating a docker container, as a user you on

[2018-08-27 09:50] brandonkal commented on #525
Why? The DB file does not need to exist on the host, it is created by the mount. Bind mounting a file is not any harder than a folder... Or just use docker volumes and keep it simple. Also it seems you are confusing docker daemon logic with application logic.

[2018-08-27 14:13] max3163 commented on #128
Any milestone for this great feature ?

[2018-08-28 03:20] Equim-chan commented on #128
ffmpeg is good at this stuff, but of course it requires ffmpeg to be installed in the host. Maybe we can integrate this feature if ffmpeg is detected on run time. Any idea?

[2018-08-28 22:34] juan11perez commented on #518
thank you for your response. Im using docker-compose:

[code]

I believe my last line (command: --c) is incorrect and is creating the problem. I removed it and the container  is running.

[2018-08-28 22:43] eine commented on #518
Indeed, `-c` is the shorthand for `--config` and it requires an argument behind, which should be a configuration file. `c` (without a hyphen) is not a flag, but interpreted as either a subcommand or a positional argument. Since positional arguments are not accepted/required, and no `c` subcommand exists, it shows the error.

What were you trying to achieve with `-- c`?

[2018-08-28 22:50] eine commented on #518
BTW, note that the entrypoint in the container is `filebrowser` (https://github.com/filebrowser/filebrowser/blob/master/Dockerfile), and the default config file (https://github.com/filebrowser/filebrowser/blob/master/Docker.json) is `/.filebrowser.json`. Therefore, unless you set your own config file, flags or environment variables, the database is created in `/database.db` and the default config

[2018-08-29 00:30] minhohihi opened #526 "폴더 삭제시 504 gateway time out 발생함"
정확한 원인인지는 모르지만 문제가 발생한 시퀀스를 적어보면 아래 두 단계입니다.

1. dfc cp 명령어로 파일 copy 중 ctrl+c로 중단함
2. http://files.deepflow.devel.kakao.com/maverick.park/ 에서 copy하던 데이터 폴더를 선택 후 삭제 실행

터미널에서 dfc rm으로는 정상적으로 삭제가 되었습니다.

[2018-08-29 11:57] ghost commented on #525
What's the advantage of specifying multiple files over a single folder?
If I keep it simple and just use docker volumes, how do I retain my settings on a different host?

[2018-08-29 12:00] juan11perez commented on #518
thank you very much for your time and guidance. the use of the -c argument was poor understanding from my side. I understood that it had to be added as a command to "activate" the config file.

I modified my compose in line wit your above feedback as such:

[code]

but it wont start and it's producing this error:

[code]

[2018-08-29 13:53] eine commented on #518
In order to bind `database.db` and `config.json` inside the container, these must exists in the host:

[code]

[code]

[code]

However, I would not recommend exposing all the system with `/:/srv`.

[2018-08-29 14:16] juan11perez commented on #518
Once again thank you very much for your help. It's now running as per your instructions.

[2018-08-29 14:16] #518 closed, assigned to nobody

[2018-08-29 14:29] eine commented on #525
It can be an empty file: `touch database.db`.

Filebrowser, by default, looks for a config file named `.filebrowser.[ext]` in either `.`, `/etc/filebrowser/` or `$HOME`. So, if the default config file is moved to `/config`, it won't be found unless the path is explicitly given through flags or envvars.

Then, changing https://github.com/filebrowser/filebrowser/blob/master/Dockerfile#L10 to `COPY D

[2018-08-30 07:00] hacdias commented on #416
From @Idesousa (on https://github.com/filebrowser/filebrowser/issues/521):

[2018-08-30 07:00] hacdias commented on #521
Duplicate of #416. I updated the title of 416 because it wasn't very clear. Let's have this discussion there!

[2018-08-30 07:00] #521 closed, assigned to nobody

[2018-08-30 07:01] hacdias commented on #526
@minhohihi I can't open that website. It gives connection timeout.

[2018-08-30 07:17] livc opened #527 ".mkv file can't play in Safari, but can in Chrome"

[2018-08-30 08:08] minhohihi commented on #526
@hacdias I'm sorry. That page is for internal and I thought this issue report site also internal page when I reported the issue. You can ignore this issue.

[2018-08-30 12:28] #526 closed, assigned to nobody

[2018-08-30 20:36] yurividal commented on #527
also, some MP4 play in chrome, but with no sound.

[2018-08-31 11:48] ghost commented on #525
@1138-4EB wow, thank you for such a helpful response
I'll have a play and then create PR for the docs

[2018-08-31 20:05] nicedreams commented on #426
Don't know if I can bump this post, but be a nice feature to have for security.  I'm afraid to open the port for long period of time on my cloud host since can't tell how many bots trying to access the login page.  I just see a bunch of "403 Forbidden" in the log, but no clue who or what is trying to login.  Unless there's another way to get this info I don't know about then can get fail2ban to st

[2018-09-03 02:29] kevin335200 commented on #409
It doesn't work for me with v1.10
v1.9.0 tested, same problem
It seems like all versions > 1.0.1 don't work
Linux R7000 2.6.36.4brcmarm #1 SMP PREEMPT Tue May 8 02:01:58 CST 2018 armv7l Merlin-Koolshare

[2018-09-03 11:45] bdito opened #528 "more information on docker hub"
**Is your feature request related to a problem? Please describe.**
The image on docker hub ( https://hub.docker.com/r/filebrowser/filebrowser/ ) has no readme and no description.

**Describe the solution you'd like**
- add a short description in docker hub
- add readme with quickstart or link back to github and/or to the official documentation
- add icon for the user filebrowser on docker hub

[2018-09-03 12:52] ghost commented on #495
wafle existed before github added the projects functionality.
github projects is much better and easier and integrates of course with github issues.

[2018-09-05 03:58] emeryao commented on #750
+1

wanna preview a markdown file like an image instead of editing

[2018-09-05 04:06] emeryao commented on #750
FYI
got an error when opening a markdown file
`./static/js/codemirror/mode/markdown/markdown.js net::ERR_ABORTED 404 (Not Found)`

[2018-09-05 06:19] eine commented on #750
@Emeryao can it be the same as filebrowser/frontend#4?

[2018-09-05 06:35] emeryao commented on #750
yes I think they're related @1138-4EB

[2018-09-05 07:12] eine commented on #409
@1kevin335200 did you try the armv5 version as suggested in golang/go#18483?

[2018-09-05 15:16] ldesousa opened #529 "Sessions per user limited to one"
**Description**
Once a session is started with a certain user, no more sessions can be created with that user. In such cases the message "Wrong credentials" is shown, that is very confusing to users.

**Expected behaviour**
One of two behaviours would be expected:
1. Let more that one session be created by each user
or
2. Issue an error message like: "You are already logged on from a different ins

[2018-09-06 07:22] dream10201 commented on #529
Create multiple users

[2018-09-06 08:09] ldesousa commented on #529
@dream10201 Which part of "to give access to the same resources to a large group of people" did you miss?

[2018-09-06 08:44] hacdias opened #530 "Build broken on Go <= 1.11"
See https://github.com/pierrec/lz4/issues/33.

@1138-4EB could you update the Go version around, please?

[2018-09-06 09:15] dream10201 commented on #529
Unable to reproduce，everything is normal
version：1.10.0

[2018-09-08 16:37] eine commented on #530
It is fixed now. For some arbitrary reason related to curl, the last execution of https://travis-ci.com/filebrowser/docker-dev had failed. It was not started again because it is scheduled weekly. I triggered manually and now filebrowser/dev is based on go1.11.

Now, there is a problem with yarn: https://travis-ci.com/filebrowser/filebrowser/builds/82754910. I don't know why it cannot connect to th

[2018-09-08 16:37] #530 closed, assigned to eine

[2018-09-08 17:53] hacdias opened #532 "🆘 Need Maintainers"
This project is not under active development, i.e., new features won't be created and deep bugs might be hard to be fixed. A small set of developers is taking care of keeping it building and fixing small issues.

If you're interested in becoming a maintainer of this project, please let us know through this issue and start contributing. It would be awesome for the more than 3000 people that starred

[2018-09-09 21:59] FlorianWendelborn opened #534 "--auth.method='none' gets ignored"
**Description**
I’m trying to mount filebrowser behind a caddy `proxy /files/ http://filebrowser`. I don’t need any authentication, so I passed `command: "--auth.method='none' --baseurl /files"` in my `docker-compose.yml`.

**Expected behaviour**
filebrowser should not ask for any username or password

**What is happening instead?**
filebrowser asks for username + password

**How to reproduce?**
[

[2018-09-10 14:54] yurividal commented on #532
@hacdias that is SO SAD... =(

I wish i had any knowledge in this programing field, to help...

Anyways, thank you for all the hard-work

[2018-09-11 18:33] kevin335200 commented on #409
Now yes and it seems to work. Thanks!

[2018-09-11 18:40] eine commented on #409
Great! I'm closing this, as it seems to be an issue with that specific model.

[2018-09-11 18:40] #409 closed, assigned to nobody

[2018-09-11 18:43] eine commented on #534
Hi @dodekeract! Can you please tell us which version of filebrowser are you using? It'd be great if you could also paste the log of filebrowser.

[2018-09-11 19:21] FlorianWendelborn commented on #534
@1138-4EB latest version that’s published to Docker.

Where do I find the log files?

[2018-09-11 19:27] eine commented on #534
If you do start the container as a daemon, you can get the log with `docker log <container_name>`. Also, I think that `docker-compose --verbose up` might show it.

[2018-09-11 21:04] hacdias commented on #532
@yurividal 😞

[2018-09-12 04:18] ndkiatm opened #535 "Файлы Мультивыбор включен clear [object Object]"
**Description**
A clear and concise description of what the issue is about. What are you trying to do?

**Expected behaviour**
What did you expect to happen?

**What is happening instead?**
Please, give full error messages and/or log.

**Additional context**
Add any other context about the problem here. If applicable, add screenshots to help explain your problem.

**How to reproduce?**
Tell us how

[2018-09-13 04:12] rhjmoore commented on #532
Do you need help maintaining the Go side or the web client side more?

[2018-09-13 06:21] hacdias commented on #532
@rhjmoore both. All help is welcome 😄

[2018-09-16 16:27] vitaliy-kuzmich commented on #489
I'd like to notice, that you do not need database at all. Why not just keep it simple ? Because I tried nextcloud and had horrible experience. So all that is needed is just filebrowser, why not to use srandard unix/linux users and theirs home folders ?

[2018-09-16 16:29] vitaliy-kuzmich commented on #749
reencode file format in backgroud  by ffmpeg?

[2018-09-16 16:32] francislavoie commented on #749
That would work too. Does ffmpeg support streaming encoding or would it need to finish the whole file first? Because the thing about streaming is that it makes it available right away without waiting.

[2018-09-16 16:41] vitaliy-kuzmich commented on #749
I do not know if ffmpeg support it, but there are already solutions for streaming. I think this project should aim into SOC devices like raspbery pi, or ROCK64. There is already similar project called nextcloud, but it works so slow on that devices. Also there is idea to generate gif animations of video, just couple of frames. Everything should be pregenerated in order to work fast in static way.

[2018-09-16 16:44] francislavoie commented on #749
That might be your use case but that's not mine. I definitely want
streaming to work universally. I also have no interest in running it on
SOCs, I run it on my home PC.

On Sun., Sep. 16, 2018, 12:41 p.m. vitaliy-kuzmich, <
notifications@github.com> wrote:

[2018-09-16 16:49] vitaliy-kuzmich commented on #749
- AirSonic - Feature rich media streaming server with web interface.
- SubSonic - Feature rich media streaming server with web interface.
- ReadyMedia - (MiniDLNA) Media streaming server (DLNA, UPnP)
- Ampache - Web interface media streaming server.
- Emby - Web interface media streaming server.
- Plex Media Server - Web interface media streaming server.
- IceCast - Shoutcast Streaming Server, inc

[2018-09-16 16:53] francislavoie commented on #749
And none of those have the convenience or usability that caddy +
filebrowser do. There's no reason to stop improving on this piece of
software because some features exist elsewhere.

In case you didn't realize, filebrowser already supports streaming, it just
doesn't work in some browsers because of codec support. That's all.

On Sun., Sep. 16, 2018, 12:49 p.m. vitaliy-kuzmich, <
notifications@gith

[2018-09-17 23:34] jazware commented on #532
Hey, I'll see if I can carve up some time to help out. I had a few commits way back when this was starting out but haven't touched the source in a while.

[2018-09-17 23:35] jazware commented on #529
This should probably be a feature request for user groups that can share permissions or for a multi-access user option.

[2018-09-17 23:38] jazware commented on #527
MKV files are not supported natively on MacOS, you either have to download the file and open it in something like VLC player, or use a modern browser like Chrome that has codecs to decode the MKV containers. The MP4 issues are similar in that browsers don't have every audio/video codec required for consistent playback, please download the files and open them in VLC or some other video player.

If

[2018-09-17 23:40] jazware commented on #532
If you want to make me a maintainer I can dig through the issues and get rid of the noise of people who don't understand how web or golang or whatever works...

[2018-09-17 23:45] jazware commented on #517
Hi @chenfeichen, this NGINX config file is incredibly noisy and should probably be stripped down to a listen, server_name, and `location /` clause to test if your reverse proxy statement in the location block is working, if that still gives you a 502 error, check your nginx error logs and post the relevant errors here, thanks.

[2018-09-17 23:57] jazware commented on #535
This contains no information we can action upon at all, this should be closed.

[2018-09-17 23:58] jazware commented on #527
I just realize this is also related to #465 so I'll tag it here.

[2018-09-18 00:02] jazware commented on #749
@francislavoie FileBrowser isn't a media streaming server. This would implement some kind of real time transcoding in the background that would effectively have us recreating Plex. I can see an argument for being able to generate a streamable link that you can stick into VLC so I think that may be a good solution.

The auth issues here are a little annoying, but potentially generating a limited ti

[2018-09-18 00:06] francislavoie commented on #749
Yup, a JWT as a URL parameter would be fine for the auth.

Also, real-time background work already happens with filebrowser, i.e. zipping up a bunch of files when downloading a whole folder. It's not like it doesn't have support for that class of thing already. I honestly don't think it would be that much extra work to add transcoding, honestly. E.g. https://github.com/xfrr/goffmpeg

[2018-09-18 00:52] jazware commented on #749
That library seems to be for full transcodes, not streaming live transcoded content anywhere. I'm just saying it's a really annoying and tough problem that has been solved at places like Twitch but not open sourced and would be redoing a lot of work that Plex does. Linking a library doesn't mean it is easy :P

[2018-09-18 02:01] bkanuka commented on #522
FYI the latest docker image created Sep 8 still does not have this fix.

[2018-09-18 09:37] #535 closed, assigned to nobody

[2018-09-18 09:38] #527 closed, assigned to nobody

[2018-09-18 22:24] hacdias commented on #532
@ericvolp12 awesome that you want to contribute! You can start by looking at the issues and creating PRs. We'll only give push access to someone who has a history on this repository. You can start building one right now! 😃

[2018-09-19 00:15] eine commented on #522
I just tested it, and it works for me:

[code]

Then, browse `localhost:5555` or `curl localhost:5555/admin`.

[2018-09-19 01:04] jazware commented on #532
Hey @hacdias it'd be nice if I had the permissions required to close or label issues as I dig through the backlog. I do have a history of commits to the project for the record.

[2018-09-19 01:21] eine commented on #749
@francislavoie, it seems that xfrr/goffmpeg is just a wrapper, so ffmpeg must be installed in the host. Since docker images are based on `scratch`, we would need either a statically compiled version of ffmpeg or change the base image. Zipping is a different issue, because it is done without any external dependency: https://github.com/mholt/archiver.

I think that using a proper media player, such

[2018-09-19 01:35] eine commented on #532
You can comment on those you are interested to fix, and we will close or relabel them correspondingly. Indeed, we rarely take actions without double approval. That is, even if an issue is to be closed, we comment there to ensure that it is solved. Then, if no reply is received in around a week, it is closed. However, if the issue is old, and no maintainer replied to it previously, we wait longer a

[2018-09-19 20:46] techie879 opened #536 "LDAP or AD or Kerberos authentication option for file browser?"
Is LDAP or AD or Kerberos authentication supported?  I could not find any documentation on it.  If not, are there any plans in the future to support these types of authentication?

[2018-09-19 23:01] eine commented on #536
Hi @techie879! Please, see #301 and #489.

[2018-09-19 23:01] #536 closed, assigned to nobody

[2018-09-19 23:37] eine commented on #489
@vitaliy-kuzmich, filebrowser can be used in windows too, and docker images are based on scratch, so we cannot ensure that standard unix/linux users exists in the host.

[2018-09-21 05:35] Equim-chan commented on #301
I think now that there are so many ways to do the authorization, maybe we can make an interface for this:

[code]

So others can write plugins very easily as well.

[2018-09-21 08:03] alx commented on #534
Same issue here, I'm using `File Browser version (dae992d4)`

I was not able to identify the issue with this auth flag, I had to revert to previous version `v1.10.0` in `docker-compose.yml` `image` parameters

[code]

[2018-09-21 08:12] seagochen opened #537 "How about filename modification"
Thanks for all of kind people like you guys first. I've deployed filebrowser on my raspberry, because of your contribution, now I have a cheap and powerful NAS!

But, I think if enable filename modification will much better.

I noticed that I can move a file from an old place to a new place, delete a file, search file. However, I can't rename my file. So I've delete the old file first, and then re

[2018-09-23 20:06] dtwilliams10 commented on #532
I would like to help, I haven't developed with Go or Vue but I do have full stack experience that I can try to help with. After looking through the issue log is there any priority or order that you would want things worked on?

[2018-09-23 20:11] dtwilliams10 commented on #528
I can work this issue, just need permission to the repo in Docker Hub.

[2018-09-23 20:51] hacdias commented on #532
@dtwilliams10 hello! Thanks 😄 hope you contribute. There's no special order. Just bugs >>>> features.

[2018-09-25 12:18] maweck commented on #301
I guess authentication plugins are a way a lot of tools go for (e.g. Nexus3, Jira, ..). So providing this endpoint and a plugin mechanism in general is something that will for sure be useful.

[2018-09-25 20:47] hacdias commented on #528
@dtwilliams10 you can work on that here or on a PR. The descriptions for Docker Hub you write them here and we can update them 😄

[2018-09-25 22:12] bkanuka commented on #522
You're right - the html returned by curl has the correct urls. The problem now is that not all the code from the js has the right url basename.  I'll find an example...

[2018-09-25 22:24] bkanuka commented on #522
![screenshot from 2018-09-25 18-16-43](https://user-images.githubusercontent.com/2676579/46046631-c9ca5f80-c0ef-11e8-9a6f-e5b76c82524e.png)

So when I go to http://mydomain.com/files  I'm redirected to http://mydomain.com/login?redirect=%2Ffiles%2F  plus of course all the 404's you see on the debug panel - every 404 is because there's a request being sent without the `files/` base directory.

I to

[2018-09-25 22:39] bkanuka commented on #522
The fix should be just search for every instance of [BaseURL](https://github.com/filebrowser/frontend/search?q=BaseURL) in the frontend code and replace it with `baseurl`.

I would do this, but I know so little about Go and the frameworks used here. No idea how to even test this.

[2018-09-26 01:42] eine commented on #522
@bkanuka, you are ok. I did not replace it properly in all the javascript sources. As you say, `BaseURL` should be replaced with `baseurl`.

In order to test the fix, please see [filebrowser/community](https://github.com/filebrowser/community). There you will find instructions about how to build the frontend first, then the backend and, last, test it all. For a quicker path, see https://github.com

[2018-09-26 07:18] helloray commented on #537
This simple feature was already supported. Select a file and click the pen icon.

[2018-09-26 07:43] seagochen commented on #537
I got it! Very thanks!

[2018-09-26 07:43] #537 closed, assigned to nobody

[2018-09-26 10:08] laurencefass opened #538 "support: login credentials."
i've installed the module and i have the page. i dont recall setting any user access. i've tried logging in with root. not working any early help much appreciated.

thanks

[2018-09-26 10:23] laurencefass commented on #538
found in documentation

[2018-09-26 10:23] #538 closed, assigned to nobody

[2018-09-26 11:04] rhjmoore commented on #534
Sorry to piggy back on this issue, but I'm trying to debug an issue i have with access to one particular folder. How can turn I up the verbosity of the log, either using the config.json file or in a command line option?

[2018-09-26 11:22] bkanuka commented on #522
Okay - thanks for all the documentation!  Quick question: is there a `Dockerfile` that builds the whole thing? Rather than building on the host and moving the binary to the docker.

[2018-09-26 21:52] dtwilliams10 commented on #528
@hacdias Ok I'll get started, did you want to assign this issue to me? I'll open a PR when I'm done.

[2018-09-27 01:23] helloray commented on #519
Is it possible to use this simple progress bar with text below it? https://dzwillia.github.io/vue-simple-progress/examples/

[2018-09-27 06:15] helloray commented on #519
I have made a demo but it looks ugly.
![default](https://user-images.githubusercontent.com/5954203/46126393-a1fa0980-c25f-11e8-8e38-0bc8c83f686c.png)

[2018-09-27 12:40] hugomassing commented on #532
I can help as well for the frontend part! I have some commit with minor fixes! So sad because the tool is so good!

[2018-09-27 19:41] eine commented on #522
@bkanuka we do not provide a file that does everything at once. But we provide a development docker image (`filebrowser/dev`) that can be used to build both the frontend and the backend, without installing any dependency in the host:

[code]

See https://github.com/filebrowser/community/blob/master/development.md#docker-and-shell.

So, you can use `build_all.sh` and extend the reference Dockerfile

[2018-09-27 20:25] eine commented on #528
I took the proposal by @dtwilliams10 as a reference, and I updated the descriptions of the two repos:

- https://hub.docker.com/r/filebrowser/filebrowser/
- https://hub.docker.com/r/filebrowser/dev/

However, I could not add the icon/logo, because it seems that the only option is to do it through gravatar. @hacdias, can you please register filebrowserbot there with its email account?

@dtwilliams1

[2018-09-27 20:52] eine commented on #532
@dtwilliams10, as @hacdias suggested, [bugs](https://github.com/filebrowser/filebrowser/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Abug) have the highest priority. However, since you are not familiar with neither the languages nor the code, triaging can help you. With triaging I mean trying to reproduce issues reported by users. Doing so will let you gain insight into the build proce

[2018-09-27 20:59] eine commented on #534
@alx I just tried:

[code]
and it works as expected. Can you provide more info about your context? How are you setting the authentication method?

@rhjmoore, AFAIK there is no verbosity option for the log. What info do you expect to be logged which is not?

[2018-09-27 21:04] eine commented on #519
@helloray , in order to discuss the implementation and (hopefully) get help from other contributors, please open a PR in the corresponding repo. If only frontend sources are modified, the repo is [filebrowser/frontend](https://github.com/filebrowser/frontend). If it requires some other modification in the backend, open another issue in this repo, and link both of them.

[2018-09-28 07:20] alx commented on #534
Hi @1138-4EB

Thanks for your feedback.

I'm using this `docker-compose` config (various paths might be uncorrect, I'm just copy/pasting the current working version without the v1.10.0 tag, but it's was setup more or less like this):

[code]

The `config.json` contains the `auth.method='none'` parameter:

[code]

I'll try to reproduce the complete setup of my defunc config when I've got time.
I re

[2018-09-28 07:26] rhjmoore commented on #534
Hi,

I have a folder that filebrowser won't open, and nothing (beyond the fact that filebrowser is listening to the port) is recorded in the log. Otherwise it performs wonderfully. I'll file a separate issue for specific guidance on how to resolve.

Thanks,
Ross

[2018-09-28 07:52] rhjmoore opened #540 "Filebrowser cannot show one particular folder"
**Description**
I have deployed filebrowser via docker. It is successfully deployed, serving my folders. I can happily move files around my file system and access my files remotely.
I have one folder, that does not have an unusual name, that just hangs when I double click on it. It never errors, and it never returns a listing of the directory, and nothing is logged to the log.
Permissions of this

[2018-09-29 02:22] nicedreams commented on #300
I'm on Debian and when I create files (ie: *.txt) the permissions are set to 755.  I have "other" group and rest of files set to 0700 since running filebrowser as user filebrowser, but files and folders still 755 when created through interface.  Would like files 644 or 640 for that matter instead.

[2018-09-29 08:03] glinuz opened #541 "list a lot of files direcotry : out of memory"
fatal error: runtime: out of memory

goroutine 19 [syscall]:
os/signal.signal_recv(0x0)
	/usr/local/go/src/runtime/sigqueue.go:139 +0xa6
os/signal.loop()
	/usr/local/go/src/os/signal/signal_unix.go:22 +0x22
created by os/signal.init.0
	/usr/local/go/src/os/signal/signal_unix.go:28 +0x41

goroutine 20 [running]:
	goroutine running on other thread; stack unavailable
created by github.com/filebrowser

[2018-09-29 12:20] eine commented on #541
@glinuz, please answer the questions suggested in the template/form, in order to allow other users understand and reproduce your issue.

[2018-09-29 18:50] #541 closed, assigned to nobody

[2018-09-30 05:26] helloray commented on #540
Why not paste your folder name here? You said a lot but without your folder name, nobody can solve your problem.

[2018-09-30 05:31] rhjmoore commented on #540
The folder name is /media/Media/Resilio. I should add that, as the name suggests, this folder is synced via the Resilio software to other machines; but so are other folders that I can successfully view. So it's possible it's related to the Resilio software is some way, but unlikely given that all other work.

[2018-09-30 07:50] hacdias commented on #387
Since I'm not an avid unix user, I'm unsure what the default permissions should be. This can be easily changed though. @1138-4EB thoughts?

[2018-09-30 11:01] Equim-chan commented on #387
#300?

[2018-09-30 12:37] eine commented on #387
@hacdias, unfortunately I am also unsure about what the default should be. Nonetheless, this issue seems to be outdated. The `0776` in `resource.go` that @march1993 mentioned are now set to `0775` (see #441).

We might want to close this issue and continue the discussion in #300, as both seem to be tightly related.

[2018-09-30 12:42] eine commented on #540
@rhjmoore, unfortunately, this seems to be a tricky issue to triage. On the one hand, you can try to reproduce the problem in a virtual/portable machine, such as a session in play-with-docker. That will allow other people to further analyze it. On the other hand, in order to get additional and specific log messages, you will need to add `log.Println()` instructions to the codebase and build filebr

[2018-09-30 13:00] rhjmoore commented on #540
Understood that it is difficult to triage. I'm running the docker build; I'll have to have a go at building the code myself to then try adding the print statements you suggest. And yes, I've checked the log, just a note that the server is listening to the port. Thanks anyway.
I'll open a new issue if I get it built, logged and have something more specific to report.

[2018-09-30 13:00] #540 closed, assigned to nobody

[2018-09-30 14:04] glinuz opened #542 "Suggest paging with a lot of files directory"
**Description**
A clear and concise description of what the issue is about. What are you trying to do?

**Expected behaviour**
What did you expect to happen?

**What is happening instead?**
Please, give full error messages and/or log.

**Additional context**
Add any other context about the problem here. If applicable, add screenshots to help explain your problem.

**How to reproduce?**
Tell us how

[2018-09-30 14:04] #542 closed, assigned to nobody

[2018-09-30 14:05] glinuz opened #543 "Suggest paging with a lot of files directory, out of memory"
**Is your feature request related to a problem? Please describe.**
Add a clear and concise description of what the problem is. E.g. *I'm always frustrated when [...]*

**Describe the solution you'd like**
Add a clear and concise description of what you want to happen.

**Describe alternatives you've considered**
Add a clear and concise description of any alternative solutions or features you've co

[2018-09-30 14:05] #543 closed, assigned to nobody

[2018-09-30 14:11] glinuz opened #544 "Suggest paging with a lot of files directory, bugout of memory"
**Is your feature request related to a problem? Please describe.**
With a lot of files directory ,GetList() listingHandler() funtion ,well out of memory

**Describe the solution you'd like**
Add paging or limit number web list size,with Ajax load more listing item

my problem ,with centos 7 v1.10.0, one directory with more than 400 files.
when web load , crash down. with "out of memory " error.

[2018-09-30 14:23] glinuz commented on #541
W**Description**
When open a directory,with a lot of files,more than 400(my host),web show internal error. The console log : out of memory.

**Expected behaviour**
open directory ,with a lot of files.

**What is happening instead?**
fatal error: runtime: out of memory

goroutine 19 [syscall]:
os/signal.signal_recv(0x0)
/usr/local/go/src/runtime/sigqueue.go:139 +0xa6
os/signal.loop()
/usr/local/go/

[2018-09-30 18:18] hacdias commented on #387
@Equim-chan related issues, yes! We can update the code to use other file permissions. What do you think it's best?

[2018-09-30 18:19] hacdias commented on #387
@1138-4EB yes, let's do that!

[2018-09-30 18:19] #387 closed, assigned to nobody

[2018-10-04 07:50] FlorianWendelborn commented on #534
@1138-4EB

[code]

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/1133858/46460004-e4b96580-c7ba-11e8-96e5-b50c111715bf.png">

[2018-10-04 12:15] hufh opened #545 "Failed to get file browser compiled due to obsolete directory structure."
**Description**
Current directory structure is not for higher version GO. New go version requires that all the source code directories are put under "src" directory. I used GO 1.8 to compile, the compiler failed to find source files.

**Expected behaviour**
For higher version of GO, currently directory should be adjusted. "cli", "lib" should be moved into "src" directory, and build scripts under "

[2018-10-04 22:07] eine commented on #545
Hi @hufh. This project is actually being built with the latest go version:

[code]

At the same time, all the builds pass successfully in the CI environment: https://travis-ci.com/filebrowser

Can you, please, let us know which problem/error did you find? At the same time, could you provide any reference related to the requirement of having sources in subdir `src`?

[2018-10-04 22:14] eine commented on #534
@dodekeract, I think that your issue might be related to #522, because you are using a custom baseurl. Can you please try setting the auth.method but keeping the default baseurl? If that works for you, we can close this issue an focus on #522.

[2018-10-05 02:34] hufh commented on #545
@1138-4EB Thanks for reply. I finally found this link https://github.com/filebrowser/community/blob/master/builds.md, followed the instruction and successfully compiled it. The document is not so easy to find, I'd suggest to move the document to filebrowser repo from community repo.

But i still have problem to get it running. I got following errors:

[root@linux cli]# ./filebrowser
2018/10/05 10:

[2018-10-05 02:39] hufh commented on #545
@1138-4EB If you run "go help gopath", you can get following info:

---------------------------------------------------------
"See https://golang.org/wiki/SettingGOPATH to set a custom GOPATH.

Each directory listed in GOPATH must have a prescribed structure:

The src directory holds source code. The path below src
determines the import path or executable name.
......
Here's an example directory l

[2018-10-05 02:57] eine commented on #545
The GOPATH is not the same as the root of the repository. The repositories are located in `$GOPATH/src/filebrowser/*`, indeed.

About the error you are getting, did you build the frontend and execute rice prior to building the backend?

[2018-10-05 03:23] hufh commented on #545
Yes, i did. My GOPATH is as follows. Is that correct?

[root@linux filebrowser]# ls
build  cli  Dockerfile  Docker.json  frontend  lib  LICENSE  README.md  src
[root@linux filebrowser]# echo $GOPATH
/root/filebrowser/
[root@linux filebrowser]# pwd
/root/filebrowser

[2018-10-05 15:45] eine commented on #545
Please, have a look at:

- https://golang.org/doc/code.html
- https://github.com/golang/go/wiki/GOPATH

[2018-10-05 15:45] #545 closed, assigned to nobody

[2018-10-06 02:00] hufh commented on #545
Thanks for reply. I double-checked the  procedure and got it recompiled sucessfully, but i still got following error:

[root@bogon cli]# ./filebrowser
2018/10/06 09:45:31 Listening on [::]:44910
panic: could not locate box "../frontend/dist"

goroutine 1 [running]:
github.com/GeertJohan/go%2erice.MustFindBox(0xd01ab7, 0x10, 0xc4201d15c0)
	/root/github/filebrowser/src/github.com/GeertJohan/go.rice/

[2018-10-07 21:34] kolaente commented on #524
Isn't this already implemented?

[2018-10-09 13:31] fzxvvc opened #546 "internal server error"
internal server error
when I up load my file to GoogleDrive from filebrowser

[2018-10-10 12:30] alx commented on #534
Hi,

I had time to return on this issue today, and the `--auth.method='none'` flag configuration is indeed working fine.

But then I've got auth error in the frontend code, I'd go back to tag v1.10.0 until I've got more time to debug this one.

[code]

It seems to come from this place:

https://github.com/filebrowser/frontend/blob/master/src/router/index.js#L127

where the route '/*' is `meta.requ

[2018-10-10 13:35] eine commented on #534
Hi again @alx. I think that your issue might also be related to #522, as suggested in https://github.com/filebrowser/filebrowser/issues/534#issuecomment-427186998. Could you please try the same configuration without a custom `baseurl`?

[2018-10-10 18:35] alx commented on #534
Hi @1138-4EB thanks for your feedback.

Unfortunatly, I really need a custom baseurl for my setup, so I won't be able to test a configuration without it.

[2018-10-11 14:33] alx commented on #373
Because I had a related issue, here is a `docker-compose` setup I've used to solve it (on `filebrowser:v1.10.0`), it might help someone else.

User with UID=1000 will be able to write in the filebrowser data directory, but you need to set a non-privileged port (>1024) for the server to start.

`docker-compose.yml`

[code]

---

`config/filebrowser/config.json`

[code]

[2018-10-12 09:45] xiaokaixuan opened #547 "File name contains the symbol "+", multi-select file download error."
### If the file name contains the symbol "+", multi-select file is packaged and download, the data is incorrect.

File name: xxxxxxxx_xxx+.apk
Error log: stat: stat xxxxxxxx_xxx .apk no such file or directory

[2018-10-12 15:48] bonny1992 commented on #430
Sorry for bringing up this old issue.

What about multiple "Share" links? Like, you select multiple files, then by the share button you can get a compressed single link, or a list of links.
Also, is there any way to make it compatible with download managers like Jdownloader?

[2018-10-18 05:49] ip75 commented on #192
v1.10.0  anyway unable to share files for users with readonly permissions

[2018-10-18 10:44] rhyst commented on #440
I would like to do this so I do not need to wait for this issue to be resolved, but I can't see a go dep build for arm? What did you have in mind?

[2018-10-18 17:36] eine commented on #440
@rhyst, `go dep` is not used anymore. No vendoring solution is being used ATM. See https://github.com/filebrowser/filebrowser/pull/496#issuecomment-414877673. See also (#450):

[2018-10-20 07:02] opser-gavin opened #548 "mkdir file: permission denied"
10月 20 15:01:24 localhost.localdomain caddy[27586]: 2018/10/20 15:01:24 /aaa/: 403 Forbidden
10月 20 15:01:24 localhost.localdomain caddy[27586]: 2018/10/20 15:01:24 mkdir file: permission denied
10月 20 15:01:43 localhost.localdomain kernel: hv_balloon: Balloon request will be partially fulfilled. Balloon floor reached.
10月 20 15:02:01 localhost.localdomain systemd[1]: Created slice User Slice of r

[2018-10-20 14:29] idcm opened #549 "Usable configuration for executing command behind NGINX."
I find this configuration works for executing command behind NGINX.

[code]

The corresponding `filebrowser.json`:

[code]

the relavant issue: #458.

[2018-10-20 16:18] shyal opened #550 "cannot load filebrowser through iframe"
Hi,

filebrowser refuses to load through an iframe. Would this be a big change?

Thanks,

Shyal

[2018-10-21 08:04] Ya-RZ opened #551 "load txt failed"
**Description**

filebrowser cannot show the txt file list .

I have some txt、mobi which size is 440M. But when i browser those files on mobile chrome , the browers always crashed  after several seconds. In the several seconds ,it downloaded somethind with full speed. I guess the space cannot hold ,so the chrome crashes.
The desktop chrome has the similar problem, which loads  very very slow.

**W

[2018-10-21 16:15] eine commented on #550
Hello @shyal. Could you please provide some info about your context? How are you trying to load it? What alternatives have you considered?

[2018-10-21 16:21] eine commented on #430
Hi @bonny1992, can you please open new separate issues for your requests?

[2018-10-21 16:30] eine commented on #549
Thanks @idcm! I added a reference to this issue in filebrowser/community#2. I'm closing this issue, because there is nothing to fix. But feel free to continue the discussion either here or in any of the related issues.

[2018-10-21 16:30] #549 closed, assigned to nobody

[2018-10-21 17:59] bonny1992 commented on #430
Sure, @1138-4EB ! Sorry for the hassle!

[2018-10-21 18:02] bonny1992 opened #552 "Download manager/folder link"
Hello everyone!
Is it possible to obtain in some way a sort of direct link for a single file or a folder (maybe through the "share" button?) to make it work with download managers like JDownloader?

I know that I can share the file/folder then add the ?dl=1 querystring, but it can be heavy if the server has to compress a lot of files and more than 1 user at a time.
Also, JDownloader for example, i

[2018-10-22 06:45] shyal commented on #550
Hi @1138-4EB. My context is that i am building a lightweight IDE, that'll at most have an Editor (CodeMirror), a Terminal (gotty) and a FileBrowser (filebrowser). I'm using an <iframe> tag for gotty and filebrowser, and the issue is, filebrowser won't load through an iframe.

I tried removing the x-frame-options header:

[code]

however it leads to Chrome displaying an error about filebrowser retu

[2018-10-22 08:52] YasserDRIF commented on #425
a workaround to get this working is to make two instance of the filebrowser.exe with different config files running on different ports... one with AUTH and edit enabled (your admin dashboard) and the other disabled (guest mode)

[2018-10-22 13:32] rhyst commented on #440
Thanks @1138-4EB . I made an alpine docker image that uses the install script mentioned in the docs and that seems to work.

[code]

[2018-10-25 01:59] changchichung opened #553 "is possible to "open" the html file , not edit ?"
let`s I have a folder with many html files , and I want give users a web ui to view those html files , like the way you do in browsers(file --> open --> select the html file)

with this plugin , almost solve my problem , I dont need to generate a folder tree , export to html , and use nginx or apache to serve. and it`s much more pretty than the ui I wrote .. XD

but when users double click the htm

[2018-10-25 02:46] helloray opened #554 "Build failed after hugo updated: undefined: parser.ReadFrom"
How to resolve it?

[2018-10-25 04:53] helloray commented on #551
440M is too large for a browser. The local program such as notepad may be hard to open it too.

[2018-10-25 09:39] YasserDRIF commented on #128
Any updates on the feature?

[2018-10-26 02:52] helloray commented on #554
I use local vendor directory solve this issue.
cd $GOPATH/src/github.com/filebrowser/filebrowser
mkdir -p vendor/github.com/gohugoio
cd vendor/github.com/gohugoio
git clone https://github.com/gohugoio/hugo -b release-0.49.2
After that, everything is OK. Maybe the better way is to use dep for  dependency management.

[2018-10-28 03:21] eine commented on #554
Related to #496.

[2018-10-29 03:03] Ya-RZ commented on #551
@helloray It's not a file but almost 10 files . It always downloads txt file , which confuses me.

[2018-10-30 16:45] gkoerk commented on #381
Hey guys - has there been any progress on this? As far as I can tell, this limits a docker deployment, since every time the container/stack is recreated you lose any persisted changes. I don't see how the /etc/database.db can be mapped to the host before it gets created inside the application

[2018-11-04 12:46] ghost opened #555 "Hugo: Restrict user scope (access) to subfolder of content. Unexpected "Hugo New" behaviour."
# Is your feature request related to a problem? Please describe.

## Our setup:
We have a small community homepage where kind of a lot of people are allowed to make blog posts. Not edit the rest of our Hugo-Site.

## Our temporarily solution
So I give them a filebrowser account with scope to ./content/blog/username . I do that because I don't want them to be able to edit each others blog posts. Wh

[2018-11-04 14:59] ghost commented on #555
I see, related to  #523.

[2018-11-05 14:07] toddlerya opened #556 "Large shell file causes browser to crash"
**Description**
After uploading an oversized shell file (about 600MB), the page was refreshed and the browser crashed.

**Expected behaviour**
Some installation packages are shell files, such as Anaconda3-5.3.0-Linux-x86_64.sh (https://repo.anaconda.com/archive/Anaconda3-5.3.0-Linux-x86_64.sh), which has a size of 637MB. This shell file should not be parsed as text preloaded into the browser

**Ho

[2018-11-07 09:31] mphz opened #559 "not working with mobile browser"
**Description**
I have run the filebrowser in host, and via chrome and firefox in PC it works pretty well, but when I try in my iPhone not matter safari, chrome and firefox, it stucks in the loading page with animation.

[2018-11-08 01:23] helloray commented on #559
I can confirm mobile browser is working perfectly with filebrowser. I use android and tested with chrome/firefox.

[2018-11-08 01:38] helloray commented on #544
I use filebrowser(arm/x86 version) with over 10000 files in a single directory. No crash happened.

[2018-11-08 06:27] mphz commented on #559
@helloray yeah, I can also confirm that, really weird, today it works. I think can close the issue.. thx

[2018-11-08 06:27] #559 closed, assigned to nobody

[2018-11-08 08:50] helloray opened #561 "Switching directory too fast make the content overwritten by last directory"
**Description**
1. Enter a directory A with many files (over 10000). It will take several seconds to completely load it.
2. Before the directory A's content was completely loaded, try to switch to another directory B.
3. You will see the filebrowser showing A's content while current directory is B.

**Expected behaviour**
filebrowser should protect switching directory too fast while it's content i

[2018-11-08 19:13] vitaliy-kuzmich opened #563 "Cant build from source"
**Description**
I did exactly as described in dev docs, unfortunately it was not able to find HUGO parser.

**Expected behaviour**
Expected to execute...

**What is happening instead?**
[code]

**How to reproduce?**
go get -v ./... in cli folder

**Files**
go version go1.11.2 linux/amd64

I have no idea how to fix it in golang ;(

[2018-11-08 19:40] vitaliy-kuzmich commented on #563
https://github.com/filebrowser/filebrowser/issues/554

[2018-11-08 19:42] #563 closed, assigned to nobody

[2018-11-08 19:50] vitaliy-kuzmich commented on #554
/lib/http/download.go:54:17: type archiver.Zip is not an expression
../lib/http/download.go:56:17: type archiver.Tar is not an expression
../lib/http/download.go:58:17: type archiver.TarGz is not an expression
../lib/http/download.go:60:17: type archiver.TarBz2 is not an expression
../lib/http/download.go:62:30: undefined: archiver.TarXZ
../lib/http/download.go:75:11: ar.Write undefined (type arch

[2018-11-08 22:10] vitaliy-kuzmich opened #564 "Can't play mp4"
https://github.com/filebrowser/frontend/issues/37

[2018-11-10 09:53] ousui opened #566 "madvise: function not implemented"
I want to run filebrowser for my Router which is NetGear R6300v2.
The cpu is BCM4708 A9.
[code]

When I download linux-armv5-filebrowser.tar.gz which version is 1.10.0, and run it:
[code]

But when I run caddy with filemanager, it can be run well good.

[2018-11-10 10:06] wuzhefang commented on #532
fine. Begin to learning Go.

[2018-11-11 15:41] hacdias commented on #554
Hello! I actually suggest blurring the line between front-matter and content and leave it in the same editor. That way we can stop depending on Hugo.

The archiver thing I'll open a PR soon, but we also need to define if we're removing Hugo as a dependency or not.

[2018-11-14 07:49] helloray commented on #323
I guess the zipped file is generated on-the-fly,  so the file size is unable to be known.

[2018-11-15 06:35] pandarong commented on #554
git clone https://github.com/gohugoio/hugo -b release-0.49.2
git clone https://github.com/mholt/archiver
cd archiver
git tag -l
git checkout v2.1.0
replace the archiver ,hugo folder in gopatch,it will build successful.

i will fix the filebrowser with Latest dependency options

[2018-11-15 19:42] HeavyHorst commented on #522
I executed "find -type f -exec sed -i 's/BaseURL/baseurl/g' {} \;" in the frontend folder and then recreated the assets with "build/build_assets.sh ". After that everything seems to work again.

[2018-11-16 15:22] daiaji opened #569 "The admin user in the file browser is not restricted by the scope directive. Is this true?"
**Are you asking for help with using Caddy or File Browser?**
Please use our forum instead: https://forum.caddyserver.com.

**When did you download File Browser from caddyserver.com?**
An hour ago.
**What is your entire Caddyfile?**

[code]

**Description**
I ran Caddy with the root user.

**Expected behaviour**
What did you expect to happen?

**What is happening instead?**
Please, give full error

[2018-11-16 15:37] daiaji commented on #569
It seems that the scope directive is only valid for the default value of the new user.

[2018-11-16 15:38] #569 closed, assigned to nobody

[2018-11-16 15:48] daiaji opened #570 "Add an automatic option to the locale directive as the default for Caddy Plugins"
**Is your feature request related to a problem? Please describe.**
In fact, I found that the filebrowser login page will automatically select locale for me, but after I log in with the admin user, filebrowser will use the English page.
Even if my browser requests the correct Accept-Language.

**Describe the solution you'd like**
Add an automatic option to the locale directive as the default for Ca

[2018-11-19 03:17] eine commented on #522
@HeavyHorst thanks for reporting. Would you like to open a PR with those changes?

[2018-11-19 03:32] eine commented on #566
This is interesting. How did you get the binaries? Were both of them (filebrowser and caddy) built in the same context?

[2018-11-19 08:24] ousui commented on #566
@1138-4EB No, I found them on the official website or github.com.
caddy: https://caddyserver.com/download/linux/arm5?plugins=http.filemanager&license=personal&telemetry=off (https://caddyserver.com/download)
filebrowser: https://github.com/filebrowser/filebrowser/releases/download/v1.10.0/linux-armv5-filebrowser.tar.gz (https://github.com/filebrowser/filebrowser/releases)

[2018-11-19 17:11] eine commented on #566
The tarball for filebrowser is generated with [goreleaser](https://github.com/goreleaser/goreleaser) (see https://github.com/filebrowser/filebrowser/blob/master/.goreleaser.yml).

However, the binary you get with goreleaser is slightly different from the one you get when building it yourself: https://github.com/filebrowser/filebrowser/blob/master/build/build.sh#L15

Last, caddy is built with it's

[2018-11-19 17:20] eine commented on #522
Thanks to @HeavyHorst's contribution (filebrowser/frontend#40), this should be fixed now. So, I'm closing this issue.

Nevertheless, note that building the backend with latest dependencies is failing ATM (see #554). Should you want to try this fix, you need to build the assets only.

[2018-11-19 17:20] #522 closed, assigned to nobody

[2018-11-19 17:23] eine commented on #534
@alx, a fix for #522 has been pushed to the frontend. Now, you should be able to build it and try your setup with a custom baseurl.

[2018-11-20 09:42] alx commented on #534
Hi @1138-4EB and thanks for your feedback.

I'll let you know if this issue is solved when I'll redeploy my container.

[2018-11-25 20:22] vitaliy-kuzmich commented on #755
@ww7 hey, I've done some part of this ticket,  just need to gen docker with dependencies. https://github.com/vitaliy-kuzmich/filebrowser. Also add windows support.

upd:
https://github.com/browsefile/backend just better for media, you can download media files as m3u, and run it on local player, just to note, after some time, you would have to download it again, because of auth timeout.

[2018-11-26 10:47] YasserDRIF commented on #128
Any idea or tuto on how to do that ... can you also open a pull request so that it gets added to the main code

[2018-11-26 12:07] mmahmoudian opened #572 "Symlinks should not always treated as files"
**Description**
In the file lists, a symlink is always represented as a file regardless of it being pointing at a file or folder.

**Expected behaviour**
If the symlink is pointing at a folder, it shows it as among the folders with folder icon and possibly with an icon to show this is a symlink (something link a shortcut sign on a folder"

**What is happening instead?**
Showing the symlinks that a

[2018-11-26 21:18] YasserDRIF commented on #128
What i'm asking about is how to make everything into an executable file to use on windows ... just like the releases published earlier
@hacdias  any suggestions ?

[2018-11-27 00:43] berglh commented on #128
These guys seem to have had a similar problem, looks like they've found the least worst approaching using cgo for packaging https://github.com/livepeer/lpms/issues/47

[2018-11-27 05:38] idcm opened #573 "在前端增加类似YAAW的插件实现像百度云一样的离线下载功能"
能不能把aria2的web管理界面https://github.com/binux/yaaw
集成到filebrowser前端里，然后在filebrowser添加是否开启这一插件的选项。在同时安装filebrowser和aria2的电脑上就能实现离线下载和文件管理了。

[2018-11-27 05:55] pandarong commented on #573
这个项目现在缺少人维护。现在计划
1.增加对新版本go 1.11 modules 新功能支持，版本管控
2.依赖库mholt/archiver 3.0以上，hugo 5.0以上版本适配
3.codemirror 改为 monaco-editor

[2018-11-27 17:10] CircuitCoder commented on #128
@vitaliy-kuzmich I've tried our your fork, the thumbnails got generated successfully for images, and I'm still debugging with videos. But the thumbnails doesn't show up in the frontend. Is that expected, or is there something wrong with my setup?

I also saw that you need a maintainer for the Vue frontend implementation. I would really love to help with that.

[2018-11-27 17:32] CircuitCoder commented on #128
@vitaliy-kuzmich Oh so I just have to update the submodule. Trying that out.

I just update the submodule with:
[code]
Then it points to the latest commit in the upstream repo (210fef).

[2018-11-27 17:42] CircuitCoder commented on #128
@vitaliy-kuzmich OK I got it working. Thanks a lot!

[2018-11-28 08:49] CircuitCoder commented on #128
@vitaliy-kuzmich I'm not sure. Having a look at the code. But I'm quite sure it's possible.

Performance shouldn't be a problem either. I will open a PR when I get it done in your repo and we may have further discussions there.

[2018-11-28 10:11] hacdias opened #574 "Version 2.0"
## TODO

- [x] merge: https://github.com/filebrowser/filebrowser/pull/575
- [x] finish docs: https://docs.filebrowser.xyz/
- [x] cleanup https://filebrowser.xyz/
- [x] check if docker image is OK

## After Release

- Caddy plugin release will be tied with next Caddy release which might take a while yet.

---

Hi everyone!

I was looking and the repo and noticed we have already more than 3800 stars

[2018-11-28 10:12] hacdias commented on #574
- Also, make **filebrowser** mainly a binary and move **main.go** to the root of the repo.
- That would also block FileBrowser from being used as a middleware.
- Use github.com/spf13/afero as a FS layer instead of our own.
- Add an interactive first run experience through the command line to configure the stuff on the database and get rid of almost all flags.
	- This would still let users create i

[2018-11-29 03:17] helloray commented on #574
Hi @hacdias

I really like this project. Thanks for your great work. I really hope this project can be continued.
Because you are studying in the uni, I think you may not have so much time to rewrite the project.
I don't know how much difference between VUE and React. If VUE works well, why spending so much time to rewrite it? Those frontend frameworks are almost changing everyday. The most popula

[2018-11-29 08:21] hacdias commented on #574
Hey! When I said rewrite, it's not a complete rewrite from scratch. A lot of code will be reused. I started yesterday doing it (haven't pushed it yet) and the code is looking much better ... and smaller! There's a lot of stuff with the Go counterpart that can be improved. That's what I'm working on.

Why rewrite the front end? Again, lot of code that ... Well... Doesn't need to be there. A lot of

[2018-11-29 08:47] helloray commented on #574
Hi @hacdias， If you did not mean complete rewrite it, please go ahead. I'm glad that you can come back on this project. Thanks a lot.

BTW, you mentioned remove the integration with Caddy, is it possible to add builtin https support? A single standalone binary is better than run two applications. If there is a lot of work to do, just ignore this request.

[2018-11-29 08:58] hacdias commented on #574
@helloray :) sorry, what's wrong with https? Oh... adding the certificates? If that's it, yes, it can be added. Doesn't seem much hassle. I'll leave this issue opened. As soon as I'm finished with cleaning the old code, I'll take a look at some feature requests and implement them just to give FB a new look!

[2018-11-29 14:27] benfff85 commented on #554
Just a friendly inquiry, is this impacting the publication of an updated docker image? I tried this out locally and love it but #522 is preventing it from being used behind a reverse proxy.

[2018-11-29 18:49] Syavne commented on #554
Docker build is indeed affected, the following command ends up with the error message:
`docker build --build-arg plugins=filemanager github.com/abiosoft/caddy-docker.git`

I'm looking for a successful deploy pointing to a specific base URL, either with the Caddy plugin or a reverse proxy.

[2018-11-29 21:12] hacdias commented on #554
I'm working on a rewrite/revamp/cleanup for File Browser #574. It won't be available until the end of the month certainly. I don't like to give precise values but I believe that in the middle of January it will be ready.

Please use an older build (tagged) for now. Sorry

[2018-11-30 01:31] laoshaw commented on #574
https with strong authentication mechanism to manage files via web browser is wonderful, really like this project. No I don't need php, nginx-reverse, mysql to do this, Go's one binary approach is the most elegant method.

and please replace the editor, monaco(?) or ACE definitely. Thanks!

[2018-11-30 08:28] hacdias commented on #574
@laoshaw thanks! I'm adding that to the list of fixes (#575). The only feature that will certainly be removed is the direct integration with Caddy.

After this, I hope I can tackle more issues, but this will take a bit.

[2018-11-30 11:46] Equim-chan commented on #574
BoltDB is fine. It's not active because it's stable enough for now.

[2018-11-30 14:06] hacdias commented on #574
@Equim-chan awesome then. That way I can reuse all the bolt db code 😄 I saw there's a fork with some fixes and such and even they recommend us to use it.

[2018-11-30 16:49] hacdias commented on #471
@maweck I'm making some changes to the internals and have got a question for you: is it possible for SSO to login via a proxy and then let the 'Authorization' header pass around with the jwt token?

I'm creating an interface for authenticators, they receive an http.Request and return an user and an error. The internals of each authenticator don't care for the request itself: it can be via a proxy,

[2018-12-01 04:28] laoshaw opened #576 "logfile is too simple to be parsed by fail2ban etc"
I'm trying to use fail2ban to protect filebrowser brutal-force login attack.

however the log file only output:

2018/11/30 22:19:17 /auth/get: 403 Forbidden

which does not contain the remote-IP, thus fail2ban has no way to know which IP to block.

can we make the logfile more useful?

[2018-12-01 09:49] hacdias commented on #576
Yes, we can add that

[2018-12-01 10:47] mmahmoudian commented on #572
@rudymartinb I think what you commented here has little to do with what I intended to imply. It is indeed symlink related, but what you are addressing is about write permission (back-end) and what I'm pointing at is the sorting and icon in the file view part (front-end).

[2018-12-01 15:02] hacdias commented on #574
@vitaliy-kuzmich I saw your fork and I thought it would be nice to ping you here. Look at what's done in #575.

[2018-12-01 15:09] hacdias opened #577 "POLL: do you use staticgen?"
As we are renovating and rewriting for the next version, do you think we should keep Static Gen? Do you use it or not?

React with 👍 if you use it, or 👎 otherwise.

If we removed it, would you be satisfied with:
- Using the command hooks (before/after save,rename, etc)
- Or even custom buttons you could add commands to.

Ping @1138-4EB @Equim-chan @Bitti09 @torch2424 @sinni800 @saveshodhan @chingl

[2018-12-01 15:18] ptman commented on #577
I'm sorry, I don't know enough to make an informed decision. Would you kindly tell us some pros and cons?

[2018-12-01 15:24] sinni800 commented on #577
I'm not sure if I remember this right, but wasnt the hugo caddy plugin basically filebrowser with... some differences or something?

Honestly I've actually never used staticgen, but all it is is just running static site generator programs as far as I could see

[2018-12-01 16:35] vitaliy-kuzmich commented on #574
@hacdias Thanks for ping.
Does it costs to do so much effort into DB management(example mysql workbench) from console ? Are there workbenches for bolt DB ? Maybe replace with SQLlite and use some UI ? Here it is for bolt: https://github.com/evnix/boltdbweb but I did not test it...

Just thinking to implement file sharing, and put it as separate menu item, next to files listing. Idea is to share fi

[2018-12-01 17:41] hacdias commented on #574
@vitaliy-kuzmich np. About the DB management: I'm sticking with bolt DB (it's just... simple and it doesn't have string limits nor anything else) and I've already implemented all the needed CLI commands.

Don't forget that there are lots of people that want to deploy "on demand" and I don't believe it should be their work to be generating a DB with the required structure.

If they use the commands

[2018-12-01 17:58] vitaliy-kuzmich commented on #574
@hacdias I see now. Well, as I know, at this moment of time, it is not possible to view shared resource in the browser, but only download it. So I want to make 'view' feature of the shared resource, in addition to download. But it will be separated from shared link, because it is different, shared links are outside from DMZ(authenticated/authorized user), but shared folder inside. So then in case

[2018-12-01 18:10] hacdias commented on #574
@vitaliy-kuzmich gotcha. It's an interesting feature that may well be worth it to implement

[2018-12-01 22:46] eine commented on #576
@laoshaw is it ok to add just the IP to the standard log? Or should it have a specific format to make it easier to read/parse? Moreover, is it reasonable to add a separate log file for this purporse?

[2018-12-01 22:48] eine commented on #572
@mmahmoudian is ok. @rudymartinb, please open a new issue.

[2018-12-01 22:49] hacdias commented on #577
@ptman hey! Not having the direct integration, you would lost the preview feature and would have to run the hugo/jekyll command by yourself (or via a custom button if we built that feature). Honestly, it doesn't seem worth it for me, but if many users use it, I'll keep the feature.

After the rewriting/revamping I could release a beta version so people could test and see if they need some feature

[2018-12-02 00:05] torch2424 commented on #577
Super rad you are reaching out to the community to make this decision! 😄

I don't know what static gen is, so I guess not? haha!

[2018-12-02 00:06] sinni800 commented on #577
I think most users don't even know about the source here, which is a problem... I have no actual opinion on this, but I think the preview is something people probably don't want to lose!

[2018-12-02 00:54] eine commented on #574
First off, wow! and thanks a lot for allocating time for this project. It is really exciting to see it moving forward!

You have been really busy this last week, so it is hard to grasp all the features that are being discussed here and modified in the related issues. I'll try to help by summarizing what I have understood so far, and providing my point of view on some of the issues.

---

I agree w

[2018-12-02 02:39] eine commented on #577
I think that it should be either split, as you suggest, or fully integrated (so that no external binary is required). Now, it is both a build dependency and the binary is required. So removing the former sounds good.

[2018-12-02 09:11] hacdias commented on #577
@sinni800 not file preview, but website preview. A static website generator is something like [Hugo](http://gohugo.io) which takes your files and then generates a website from them. Right now we support previewing instead of publishing. Although it doesn't work well, so I don't believe many people use it.

File previews will be kept!

@torch2424 👏

@1138-4EB I think the sensible option is to split

[2018-12-02 09:22] hacdias commented on #574
Okay, so let's introduce go.mod on master and release minor version then.

👍

Yes, I'm working on the new one and I can create a new repo for it and leave the current where it is. When we move to v2.0 we can then rename the old to 'vue' and mark it as an archived repo.

I should've updated this!! I've been working on [this branch](https://github.com/filebrowser/filebrowser/tree/rewrite). With that

[2018-12-02 16:08] laoshaw commented on #576
@1138-4EB  it will be great if the log can contain remote-IP, username, and a timestamp when login occurred. If this is too complicated to add, at least have remote-IP in the log file will help. As an example, below is a log line from gitea project(another golang project):

2018/11/30 23:01:13 [I] Failed authentication attempt for gitea_user from 21.65.123.14

Thanks!

[2018-12-02 16:35] laoshaw commented on #574
I did some google check between Monaco editor and ACE, based on the posts I read the consensus is that, Monaco is a better one:

- https://github.com/Microsoft/monaco-editor/issues/19
- https://blog.expo.io/building-a-code-editor-with-monaco-f84b3a06deaf
- https://microsoft.github.io/monaco-editor/
- https://ace.c9.io/

As far as Vue vs React goes,they're still competing fiercely, isolate frontend

[2018-12-02 17:39] vitaliy-kuzmich commented on #564
done in my fork.

[2018-12-02 17:39] #564 closed, assigned to nobody

[2018-12-03 14:02] mozzbozz commented on #577
Well, I think this thing is called "filebrowser", not "static site generator". So... I didn't even know filebrowser can do that - and as far as I read the comments in this ticket, the feature also seems a bit hacky, so I guess it's best to just drop it.

[2018-12-04 12:56] vitaliy-kuzmich commented on #577
hey, I tried, and image preview did not work, what kind of preview are you talking about ?

UPD: got it, you are talking about view, because preview, is something that has cut version of original file, or not full file view.

[2018-12-04 13:04] vitaliy-kuzmich commented on #577
oh thats the problem, I also noticed that, there is no focus on which way  filebrowser are going, it looks like a cloud tool, but at the same time it is not. And if considering it as a non cloud, there is no need to have image previews generator, nor user's database, no database at all... And in case cloud, there should be users, also roles, and it should work like a cloud, otherwise it loses poin

[2018-12-04 13:27] hacdias commented on #577
We're removing the integration with Hugo and Jekyll on the next version.

@vitaliy-kuzmich, this is not about image preview. And File Browser is meant to be used as a replacement for nextcloud.

Also, File Browser is not a static website generator and it never was.

[2018-12-04 15:17] UnAfraid commented on #576
[code]
This should provide ip address in the logs for > 400 status code.
Should i open up pull request also which branch should i target because i notice there is some revamp/rework in progress.

[2018-12-04 16:59] laoshaw commented on #576
this change seems non-intrusive, please make sure PR will be merged in next release

[2018-12-04 18:53] UnAfraid commented on #576
I need to know which branch to target with my PR

[2018-12-05 11:25] #561 closed, assigned to nobody

[2018-12-07 10:04] hitmax117 commented on #550
I have the same problem in Organizr (iframe as well). Even if I set `proxy_hide_header       x-frame-options;` in nginx I keep getting the broken page when loading in an iframe `Refused to display 'https://URL/' in a frame because it set 'X-Frame-Options' to 'sameorigin'.` So it's a filebrowser specific problem.

[2018-12-08 04:58] silentred opened #579 "Dependency management is in urgent need"
It took me more than half hour to solve the dependency problem.  It needs more work than just doing `go get`. Some packages changed to a total different API in master branch, so I have to check the git log and try to choose some history commit  by luck.

For examle, `github.com/mholt/archiver` changed to new API after 5105dc13ef4742e45ae9fcc7e98fa413cb7ca876. The new API cannot be used in the proj

[2018-12-09 16:52] anazhd opened #580 "get.sh script typo"
Line 56 will return invalid download url since the binary for aarch64 is named -arm64-*
`*aarch64*)
filemanager_arch="arm";;`

 should be this instead
`*aarch64*)
filemanager_arch="arm64";;`

[2018-12-10 08:28] hacdias commented on #579
Hello! We're working on a new version that will all of that in account. Sorry for the trouble.

@1138-4EB or @Equim-chan would you like to take a stab at this and add dep management on master already?

[2018-12-14 07:12] helloray commented on #252
Please also consider to add an auto complete for search. Just like google.

[2018-12-17 06:13] weirdbricks commented on #217
in case someone comes across this thread, here's how I got a token with curl and use that token to upload a file:

[code]

hope it helps!

[2018-12-20 22:48] AciDCooL commented on #550
̶I̶ ̶h̶a̶v̶e̶ ̶t̶h̶e̶ ̶s̶a̶m̶e̶ ̶i̶s̶s̶u̶e̶ ̶t̶h̶r̶o̶u̶g̶h̶ ̶t̶r̶a̶e̶f̶i̶k̶ ̶a̶s̶ ̶p̶r̶o̶x̶y̶ ̶a̶n̶d̶ ̶t̶h̶e̶ ̶o̶f̶f̶i̶c̶i̶a̶l̶ ̶d̶o̶c̶k̶e̶r̶ ̶i̶m̶a̶g̶e̶ ̶(̶d̶o̶c̶k̶e̶r̶ ̶p̶u̶l̶l̶ ̶f̶i̶l̶e̶b̶r̶o̶w̶s̶e̶r̶/̶f̶i̶l̶e̶b̶r̶o̶w̶s̶e̶r̶)̶ ̶i̶n̶ ̶a̶n̶ ̶i̶f̶r̶a̶m̶e̶ ̶w̶i̶t̶h̶i̶n̶ ̶t̶h̶e̶ ̶o̶r̶g̶a̶n̶i̶z̶r̶ ̶t̶a̶b̶s̶,̶ ̶s̶o̶ ̶i̶t̶'̶s̶ ̶p̶r̶o̶b̶a̶b̶l̶y̶ ̶f̶i̶l̶e̶b̶r̶o̶w̶s̶e̶r̶ ̶s̶p̶e̶c̶i̶f̶i̶c̶.̶
̶U̶s̶i̶n̶g̶ ̶t

[2018-12-21 21:48] tux456 opened #584 "Add "unix file socket" port option"
Would be cool to have the option to listen on unix file socket instead of TCP port.  For example:
filebrowser --port=/home/user/my.sock

This can be useful on a shared server where we have only user access.
- No need deal with random TCP port.
- The socket file can be visible for the user only, more secure than the TCP port.
- Easy to export with a SSH tunnel.

[2018-12-24 14:00] boscher opened #585 "Internal Server Error"
**Description**
I try upload big file (1,5Gb) but this action throw internal server error

**Expected behaviour**
File downloaded

**What is happening instead?**
Listening on [::]:64084
2018/12/24 16:45:19 http: multiple response.WriteHeader calls
2018/12/24 16:45:19 /: 500 Internal Server Error
2018/12/24 16:45:19 write tcp [::1]:64084->[::1]:64137: wsasend: An existing connection was forcibly cl

[2018-12-25 04:46] eine commented on #579
@hacdias, I could succesfully add `go mod` support. But `gometalinter` fails. Please, have a look at #586.

[2018-12-25 08:41] PejmanNik commented on #484
In the last release 'v1.10.0' this bug still exists

[2018-12-25 23:48] #554 closed, assigned to nobody

[2018-12-25 23:48] #579 closed, assigned to nobody

[2018-12-27 13:37] dbeniamine opened #587 "Stuck on "Loading ...""
**Description**

I use Filebrowser with a VNC and a nginx frontend on docker and it works quite smoothly, but when I try to open one of my directory which contains more than 400 csv files it is stuck showing "Loading ...".

I seems to work well when a directory contains many directories, so I guess it is trying to load thumbnails or something like that. If so, is their a parameter to disable thumb

[2018-12-27 14:49] dbeniamine commented on #534
I had the same issue, after pulling the latest filebrowser image on docker hub it works like a cham, thanks :+1:

[2018-12-27 14:51] dbeniamine commented on #587
Right after openning this issue I saw that the issue because of which I was stuck on `1.10` is solved, so I updated my image. Sadly this issue is still their with the last docker image `File Browser v(4945635b)`

[2018-12-28 06:50] ousui commented on #566
Thank you~

[2018-12-28 06:50] #566 closed, assigned to nobody

[2018-12-29 10:16] hacdias commented on #439
Hello! Will be available on v2.0! I'm closing this to remove the clutter in the meanwhile. For more info, check #574 and #575!

[2018-12-29 10:16] #439 closed, assigned to nobody

[2018-12-29 10:17] hacdias commented on #507
Hello! Will be available on v2.0! I'm closing this to remove the clutter in the meanwhile. For more info, check #574 and #575!

[2018-12-29 10:17] #507 closed, assigned to nobody

[2018-12-29 10:17] hacdias commented on #246
Hello! Will be available on v2.0! I'm closing this to remove the clutter in the meanwhile. For more info, check #574 and #575!

[2018-12-29 10:17] #246 closed, assigned to nobody

[2018-12-29 10:17] hacdias commented on #401
Hello! Will be available on v2.0! I'm closing this to remove the clutter in the meanwhile. For more info, check #574 and #575!

[2018-12-29 10:17] #401 closed, assigned to nobody

[2018-12-29 10:17] hacdias commented on #435
Hello! Will be available on v2.0! I'm closing this to remove the clutter in the meanwhile. For more info, check #574 and #575!

[2018-12-29 10:17] #435 closed, assigned to nobody

[2018-12-29 10:17] hacdias commented on #381
Hello! Will be available on v2.0! I'm closing this to remove the clutter in the meanwhile. For more info, check #574 and #575!

[2018-12-29 10:17] #381 closed, assigned to nobody

[2018-12-29 10:17] hacdias commented on #257
Hello! Will be available on v2.0! I'm closing this to remove the clutter in the meanwhile. For more info, check #574 and #575!

[2018-12-29 10:17] #257 closed, assigned to nobody

[2018-12-29 10:17] hacdias commented on #314
Hello! Will be available on v2.0! I'm closing this to remove the clutter in the meanwhile. For more info, check #574 and #575!

[2018-12-29 10:17] #314 closed, assigned to nobody

[2018-12-29 10:18] hacdias commented on #576
Hello! Will be available on v2.0! I'm closing this to remove the clutter in the meanwhile. For more info, check #574 and #575!

[2018-12-29 10:18] #576 closed, assigned to nobody

[2018-12-29 10:18] hacdias commented on #420
Hello! Will be available on v2.0! I'm closing this to remove the clutter in the meanwhile. For more info, check #574 and #575!

[2018-12-29 10:18] #420 closed, assigned to hacdias

[2018-12-29 10:18] hacdias commented on #371
Hello! Will be done on v2.0! I'm closing this to remove the clutter in the meanwhile. For more info, check #574 and #575!

[2018-12-29 10:18] #371 closed, assigned to hacdias

[2018-12-29 10:18] hacdias commented on #502
Hello! Will be available on v2.0! I'm closing this to remove the clutter in the meanwhile. For more info, check #574 and #575!

[2018-12-29 10:18] #502 closed, assigned to nobody

[2018-12-29 10:19] hacdias commented on #350
Hello! Will be available on v2.0! I'm closing this to remove the clutter in the meanwhile. For more info, check #574 and #575!

[2018-12-29 10:19] #350 closed, assigned to nobody

[2018-12-29 10:19] hacdias commented on #577
Will close this! We will remove this feature on 2.0

[2018-12-29 10:19] #577 closed, assigned to nobody

[2018-12-29 10:19] #77 closed, assigned to nobody

[2018-12-29 10:20] hacdias commented on #523
As we'll remove staticgen feature on 2.0, I'm closing this.

[2018-12-29 10:20] #523 closed, assigned to nobody

[2018-12-29 10:20] hacdias commented on #555
As we'll remove staticgen feature on 2.0, I'm closing this.

[2018-12-29 10:20] #555 closed, assigned to nobody

[2018-12-30 16:48] hacdias commented on #574
@1138-4EB @laoshaw I think it would be better to keep using Code Mirror. Monaco doesn't work on mobile and they don't even have plans to do so.

Code Mirror, right now, supports mobile and they're working on a [new version](https://codemirror.net/6/) and they're sponsored by some major companies. It will keep supporting mobile too so I think it's the best bet right now.

[2018-12-30 16:53] hacdias commented on #574
Although I'll try adding monaco in and see how it works on my phone to see if it's that bad. I don't believe many people will be writing huge files on their phones.

Will also try ace

[2018-12-30 17:43] hacdias commented on #574
We're sticking with **Ace** right now!

[2018-12-31 16:31] #450 closed, assigned to eine

[2018-12-31 22:45] Merith-TK opened #589 "Setup Login with Caddy?"
**When did you download File Browser from caddyserver.com?**
12-31-18
**What is your entire Caddyfile?**

[code]

**Description**
Essentially, I don't see anywhere in the caddy documentation to set up password authentication, so a user can log in and see files.

[2019-01-01 01:02] eine opened #590 "Change from gometalinter to golangci-lint"
As commented in [#586](https://github.com/filebrowser/filebrowser/pull/586#issuecomment-449879621), after v2 (or as part of it) we might consider changing to golangci/golangci-lint. See [golangci/golangci-lint#comparison](https://github.com/golangci/golangci-lint#comparison).

[2019-01-01 01:22] #556 closed, assigned to nobody

[2019-01-01 01:39] #547 closed, assigned to nobody

[2019-01-01 02:10] eine commented on #589
@DovaMerith see https://github.com/filebrowser/filebrowser.github.io/pull/9#issuecomment-411735997.

[2019-01-01 02:10] #589 closed, assigned to nobody

[2019-01-01 02:22] eine commented on #534
I'm closing this issue because it seems to be solved. However, feel free to comment if you happen to find it again.

[2019-01-01 02:22] #534 closed, assigned to nobody

[2019-01-01 02:27] eine commented on #580
Thanks @anazhd!

[2019-01-01 02:27] #580 closed, assigned to nobody

[2019-01-01 08:27] the-eric-kwok opened #593 "$FILE variable doesn't set properly "Before Delete""
**When did you download File Browser from caddyserver.com?**
2018-12-31

**What is your entire Caddyfile?**

[code]

**Description**
A clear and concise description of what the issue is about. What are you trying to do?
I'm trying to implement a function like Rubbish Bin or Recently Delete, move the file to .trash folder instead of delete it directly.

**Expected behaviour**
What did you expect to

[2019-01-01 08:41] hacdias commented on #590
I think we can try it now on #575. We could add golangci to our docker-dev image and keep the gometalinter until #575 is merged.

[2019-01-01 09:05] the-eric-kwok commented on #593
I changed my script to `bash -c "mv /mnt/CloudDisk/$FILE /mnt/CloudDisk/.trash"` and it works!

[2019-01-01 09:11] the-eric-kwok commented on #593
If this is a feature, I think we should at least mention it in the Document or in setting page. But not to let people guessing like how could I get it work!

[2019-01-01 09:45] hacdias commented on #593
@the-eric-kwok no, it should be the absolute path. Thanks for reporting this! WIll be fixed on 2.0

[2019-01-01 09:47] belimo opened #594 "Copy text via shortcut don't work"
Hi

I cannot copy text with shortcut ctrl+c inside of the filebrowser app. it only works if I copy the text via context menu. Issue is not dependent on any OS, I could reproduce the issue on MacOS Chrome, Linux Chromium, Windows Chrome and Mac Firefox.

STEPS TO REPRODUCE
Login to Filebrowser app:
host:port/filebrowser/files/
Mark the small text "File Browser v1.8.0" with mouse
Press ctrl+c
Press

[2019-01-01 09:52] the-eric-kwok commented on #593
@hacdias Thank you 😘

[2019-01-01 10:05] belimo commented on #594
Hosting Support told me, issue is also reproducible with the newest version of filebrowser.

[2019-01-01 10:09] belimo commented on #594
@hacdias and @dtwilliams10, can you help reproducing this issue, and maybe mark is as a bug?
@hugomassing I learned that you are frontent-developer and contributing to this project. Maybe you can look at it?

[2019-01-01 13:48] hacdias commented on #593
When #575 is merged and released, this will be available!

[2019-01-01 13:48] #593 closed, assigned to nobody

[2019-01-01 23:10] hacdias commented on #594
@belimo can reproduce! Will be fixed on the next version

[2019-01-02 02:37] #590 closed, assigned to nobody

[2019-01-02 09:05] belimo commented on #594
Thanks!

[2019-01-04 07:25] zaichou commented on #574
i need it, thank you.

[2019-01-04 23:49] hacdias commented on #594
Closing this. This fix will be available when 2.0 is released 😄

[2019-01-04 23:49] #594 closed, assigned to nobody

[2019-01-05 22:46] #572 closed, assigned to nobody

[2019-01-05 22:47] #402 closed, assigned to nobody

[2019-01-05 22:47] #424 closed, assigned to nobody

[2019-01-05 22:47] #326 closed, assigned to nobody

[2019-01-05 23:35] hacdias opened #600 "New Dockerfile"
Continuation of https://github.com/filebrowser/filebrowser/pull/575#issuecomment-451699904

@1138-4EB I added the entry point so the user wouldn't need to set the `--port 80` flag if they wan't to add more flags to the command. I saw that in postgres Docker image.

We could remove it, but then the user would put the `--port 80` if they add anything else to the command.

[code]

If you don't add an

[2019-01-05 23:39] hacdias commented on #362
Since we use JWT you cannot do that. You'd need to exchange your username and password with the server to obtain a JWT token and then use it to authenticate any other requests.

What you can do is use the share feature to obtain a permalink for a certain resource. Then you can just wget/curl it.

I'll close this issue as we already answered the question.

[2019-01-05 23:39] #362 closed, assigned to nobody

[2019-01-05 23:40] eine commented on #600
I think that we can handle this situation as we did in `v1`: if no `--port` flag, `FB_PORT` envvar or configuration option is provided, the port defaults to `80`. So the user only needs to set it if he/she wants a different port.

I am more concerned about the location of the database. In `docker-entrypoint.sh` it deaults to `/database.db`, which I find to be *ugly* outside a container. It should

[2019-01-05 23:40] #332 closed, assigned to Equim-chan

[2019-01-05 23:43] hacdias commented on #600
But that value is **inside** the container (/database.db). THat's the path you need to mount something to.

Also, as part of the refactoring the ENV vars were removed. We're trying to leave the configuration as simple as possible. But I'm interested in hearing use cases.

[2019-01-05 23:52] eine commented on #600
Despite the configuration being simplified, we should not constrain the deployment too much. For example, begin able to set runtime parameters such as the port, the address, the location of the DB, etc. should be easy. I.e., the default location of the database can be `/database.db`, but the user should be able to set it in any arbitrary path (either inside or outside of the container).

[2019-01-05 23:55] hacdias commented on #600
Yes and they can do all of that via flags. In which situations wouldn't flags be possible but env vars would? That's just what I don't understand

[2019-01-06 07:17] docgonzo2015 opened #602 "Starting new dockerfile"
Hi!

After update of the new dockerfile i get

docker: Error response from daemon: OCI runtime create failed: container_linux.go:348: starting container process caused "exec: \"/entrypoint.sh\": permission denied": unknown.

[2019-01-06 07:58] hacdias commented on #602
@docgonzo2015 we recommend you to use the tag of the latest stable version available, which is 1.11.0. Latest tag is the same as master here which may contain breaking changes. We're working on a new major version, so until we release it, just use v1.11.0.

You can always use latest and help us find bugs 😁

See #600

[2019-01-06 07:58] #602 closed, assigned to nobody

[2019-01-06 09:25] hacdias commented on #551
I think that what you're saying is that when you go to a directory, it downloads all the text files. Yes, it isn't supposed to happen and this fix (28b326ab1df32f41234c0d48f3555f1a18e2ffeb) will be available when 2.0 is out.

[2019-01-06 09:25] #551 closed, assigned to nobody

[2019-01-06 09:29] #550 closed, assigned to nobody

[2019-01-06 09:30] hacdias commented on #550
We have no reason to block the embedding of FIle Browser through iframes. I have removed that HTTP header to allow so. WIll be available on 2.0

[2019-01-06 09:32] hacdias commented on #489
@1138-4EB I think we shall close this with 2.0

[2019-01-06 09:34] hacdias commented on #529
You can open how many session you want. File Browser doesn't set any limit and it works with the same user on many browsers at the same time. Please make sure you used the right instance of File Browser and that the credentials were correct.

Internet Explorer is not officially supported. The errors might be due to the old age of the browser and its incompatibilities with newer technologies.

[2019-01-06 09:34] #529 closed, assigned to nobody

[2019-01-06 09:35] #524 closed, assigned to nobody

[2019-01-06 09:36] hacdias commented on #524
V2.0 won't support Hugo and Jekyll directly. User's can have their own root paths, yes.

[2019-01-06 09:36] #495 closed, assigned to nobody

[2019-01-06 09:37] hacdias commented on #426
We added the IPs on the newer version. Will be available when 2.0 is out

[2019-01-06 09:37] #426 closed, assigned to nobody

[2019-01-06 09:38] hacdias commented on #416
Tested and fixed on 2.0. Will be available as soon as it's released

[2019-01-06 09:38] #416 closed, assigned to nobody

[2019-01-06 09:40] hacdias commented on #463
On 2.0 (which is yet to be released) this will be fixed. Only readable text files will be opened and the threshold will be 10MB.

[2019-01-06 09:40] #463 closed, assigned to nobody

[2019-01-06 09:40] #444 closed, assigned to nobody

[2019-01-06 09:41] hacdias commented on #390
On 2.0 perms are more extensive and this can be customized. Will close this!

[2019-01-06 09:41] #390 closed, assigned to nobody

[2019-01-06 10:21] Chowfafa opened #605 "filebrowser删除用户后id怎么从1开始"
filebrowser删除用户后id怎么从1开始，我是用在小米路由器R3D，MMP工具箱集成的安装。

[2019-01-06 11:20] hacdias commented on #206
Closing this as frozen in time. If someone else is interested on it, please ping.

[2019-01-06 11:20] #206 closed, assigned to nobody

[2019-01-06 11:21] hacdias commented on #210
Closing this as frozen in time. If someone else is interested on it, please ping.

[2019-01-06 11:21] #210 closed, assigned to nobody

[2019-01-06 11:32] #398 closed, assigned to nobody

[2019-01-06 11:33] #445 closed, assigned to nobody

[2019-01-06 11:34] #310 closed, assigned to nobody

[2019-01-06 11:34] #457 closed, assigned to nobody

[2019-01-06 11:35] #517 closed, assigned to nobody

[2019-01-06 11:37] #434 closed, assigned to nobody

[2019-01-06 11:38] hacdias commented on #383
We're not using SW anymore on v2. It will be released soon

[2019-01-06 11:38] #383 closed, assigned to nobody

[2019-01-06 11:39] #261 closed, assigned to nobody

[2019-01-06 11:40] hacdias commented on #208
The new version will support global styles set by the admin via custom CSS files **and** you will also be able to replace the logo. If someone makes a good dark theme, please open a PR/issue on filebrowser/frontend.

[2019-01-06 11:40] #208 closed, assigned to nobody

[2019-01-06 11:41] #587 closed, assigned to nobody

[2019-01-06 11:41] hacdias commented on #587
Images updated

[2019-01-06 11:43] hacdias commented on #544
Fix on newer version since we don't load the files data. Although I find it strange anyway to have that error.

[2019-01-06 11:43] #544 closed, assigned to nobody

[2019-01-06 11:43] #546 closed, assigned to nobody

[2019-01-06 11:51] XavierBouvard commented on #600
Hi,

If I may, I am also more concerned about the database file than the port.

I agree with @1138-4EB: it is a good idea to naturally fallback to 80 if none specified in any kind of configuration.

This is especially true when the application is not running in a container.

Within a container I would recommend to use a dedicated folder for all data so the configuration stays simple or remains ope

[2019-01-06 12:05] hacdias commented on #600
@XavierBouvard

Maybe that's the best: set the port default as 8080. Not 80 because of #152

They can already. It was always an option. The Dockerfile only refers to the container. The user can always set it with the flag.

Didn't understand.

Yes, that's the issue.

[2019-01-06 12:10] hacdias commented on #600
Maybe remove the values from the flags from the root command (which starts the HTTP server) from the database.

Address, Cert, Key, Log, Port and Root Scope depend on the environment. This ones should be able to be set through flags, env variables and a config file and not persisted to the database. All the rest in the DB. Maybe that's the best.

[code]

To:

[code]

This would solve some issues s

[2019-01-06 12:57] XavierBouvard commented on #600
Sorry if it wasn't clear. When setting up containers I prefer use directory for volumes instead of file.
Here's an example:
In the current version, if I want to run the container, I run:
`docker run -v /mnt/some-directory/filebrowser.db:/filebrowser.db [...]`

When i'd rather run:
`docker run -v /mnt/filebrowser-data:/data [...]`

In this case the data folder will contain the filebrowser.db (and m

[2019-01-06 12:59] hacdias commented on #600
@XavierBouvard gotcha, but I don't know if that would benefit only you or more people. Let's see what @1138-4EB says.

About the default scope: right now it is "." and that's what it should be. It allows fast deployment.

There will be two scopes on this version: take a look at #604 to understand better. I'll update the docs soon too.

[2019-01-06 15:30] nicedreams commented on #426
This is great.  Thank you!

[2019-01-06 16:05] eine commented on #600
@XavierBouvard, see #604. In the next release there will be a root path, and all the relative locations will refer to it. Therefore, if you DB lies in that path, you will be able to share a single directory.

[2019-01-06 16:32] XavierBouvard commented on #600
OK.

This makes me feel like I misunderstood the purposes of the two volumes declared in your Dockerfile.
I though that /srv would old the directory I want to administrate (I think you call that default scope) and I was wandering about the /tmp

Anyway, thanks for your answers, I'll take a look at #604 even if I have not worked in go yet, it'll be interesting to watch some :)

[2019-01-06 16:42] #447 closed, assigned to nobody

[2019-01-06 16:56] #528 closed, assigned to nobody

[2019-01-06 16:58] hacdias commented on #393
This is only related to your browser not supporting the codec. I'm closing this due to the lack of activity.

[2019-01-06 16:58] #393 closed, assigned to nobody

[2019-01-06 17:01] hacdias commented on #573
Unfortunately, aria2 is out of the scope of this project so I'm closing this.

[2019-01-06 17:01] #573 closed, assigned to nobody

[2019-01-06 17:03] hacdias commented on #552
JDownloader can't obtain the size data due to #323. I'm closing this as the latest version provides better direct links.

The file will only be compressed if it is a folder. A file is downloaded directly.

[2019-01-06 17:03] #552 closed, assigned to nobody

[2019-01-06 17:04] #430 closed, assigned to nobody

[2019-01-06 17:04] hacdias commented on #548
You still have this issue?

[2019-01-06 17:07] hacdias commented on #469
Right now it's not possible to add custom functions. If you want to create a form to upload to File Browser, you should exchange your auth data  with `/api/login` to retrieve a JWT token and then use it to POST to `/api/files/Your/path` with the files on the request body.

I'd suggest you to use File Browser directly.

I'm also closing this since it didn't get feedback in the last months.

[2019-01-06 17:07] #469 closed, assigned to nobody

[2019-01-06 17:07] hacdias commented on #446
@DeAlexPesh what do you mean with "splash screen"?

[2019-01-06 19:43] eine commented on #600
@XavierBouvard certainly, I am not sure about the purpose of declaring `/tmp` as a volume. @hacdias is it used internally?

[2019-01-06 21:53] eine commented on #489
Let's better review the items once v2 is ready for release. Most of them will be already achieved, but I am not sure about all of them.

[2019-01-07 11:23] dbeniamine commented on #587
Sadly I cannot test as the last image does not accept the `--auth.method='none'` argument anymore:

[code]

[2019-01-07 11:35] hacdias commented on #587
We do not recommend the use of "latest" on production environments since it is bond to master branch, which, atm, contains the code for the next major release which contains many breaking changes. Please try out the image v1.11.0. Once we release V2, we'll have docs explaining how to transition 😄 sorry for any troubles

[2019-01-07 11:38] dbeniamine commented on #587
I spoke too quickly: with `v1.11.0` I can use the `--auth.method=none` flags and I can open a directory with many files but it is quite slow:

|number of csv| time to open|
|------------------|-----------------|
| 45                  | 15s              |
| 180                | 36s              |
| 315                |  **killed after 5m** |

[2019-01-07 11:45] hacdias commented on #587
Yeah. That's a bug we have fixed for 2.0. For some stupid reason we were sending the content of the files on directories (well... I don't know why). It will be available soon.

Ah oh, when you said image I thought about docker. That's why I said "images updated". Sorry for the misunderstanding

[2019-01-07 11:48] dbeniamine commented on #587
Yes I am using docker.

I'll wait for the 2.0 then, thanks for your help.

[2019-01-07 12:16] PixiBixi commented on #600
Hi,

I've no idea what i should edit to my docker-compose.yml to re-use filebrowser, can someone help me?

[code]

[2019-01-07 12:58] eine commented on #600
@PixiBixi, see https://github.com/filebrowser/filebrowser/issues/587#issuecomment-451907670

[2019-01-08 09:05] hacdias commented on #489
@1138-4EB I reviewed the items and checked the ones that are complete and removed some that I thought are not related or are invalid in the new version.

Things missing:

We now have the support to add more kinds of Authentication. If someone wants to implement this, we're happy to receive a PR, but I don't believe it should be part of this issue, nor a blocker to launch v2.0.

~Clean up `users im

[2019-01-08 09:14] hacdias opened #614 "User groups"
With the new version (2.0) we introduce new ways of user management through the command line which will make it a lot easier to add bunch of new users or to change the password of that person that forgot it.

Although, and as per some requests, such as what's contained on #401, I'm opening this issue about **user groups**. A feature maybe similar to Linux user groups or the following:

1. A user g

[2019-01-08 12:15] hacdias opened #617 "Watch config"
_(idea imported from #489)_

Viper allows us to watch for changes in the config and update our program according to those changes. It might be interesting for those experimenting with config files.

See more: https://github.com/spf13/viper#watching-and-re-reading-config-files

[2019-01-08 12:16] hacdias commented on #489
Will close this issue, as the remainders were split in issues.

[2019-01-08 12:16] #489 closed, assigned to nobody

[2019-01-08 15:56] hacdias commented on #574
@1138-4EB ready to release 2.0? 😄

[2019-01-08 16:12] hacdias commented on #600
@1138-4EB could you try out the Dockerfile on master and make any changes if needed?

[2019-01-08 16:19] eine opened #619 "Code Climate"
We already have a set of linters and code quality checkers enabled in our CI pipeline; and there are plenty more that we can add (see #595).

However, there are some other factors related to code complexity and maintainability that we are not actively checking. [Codeclimate](https://codeclimate.com) is a service that allows to do so. It analyses the code to find complexity, duplication and style i

[2019-01-08 16:26] eine commented on #574
We should maybe consider releasing `2.0.0-rc.1` and asking for users to try it and report back?

[2019-01-08 16:29] hacdias commented on #574
Actually I thought about that yesterday! We can do that, yes! I'm just updating some commands description. Can I ping you after I finish so you can roll that release? 😄

[2019-01-08 16:29] eine commented on #600
@hacdias, as commented above, what is the purpose of declaring `/tmp` as a volume?

[2019-01-08 16:38] hacdias commented on #600
I don't know. [It was added by you](https://github.com/filebrowser/filebrowser/blame/master/Dockerfile) 😛

[2019-01-08 16:38] hacdias commented on #600
I just left it there because... well... I didn't want to break anything.

[2019-01-08 16:38] hacdias commented on #600
But I think we should remove it. It doesn't make sense to me.

[2019-01-08 16:42] hacdias commented on #619
Sure! We can add it! Let me take a look!

[2019-01-08 16:44] eine commented on #600
I have pulled the latest image and it looks good with the default user and password. It is so smooth, and the editor looks great.

However, I found the following problem when trying to just start it with `noauth`:

- `filebrowser` creates the database in `/database.db`, as set in `.filebrowser.json`. It is created with `quickSetup`, so the auth is set to `JSONAuth`.
- I cannot `docker exec` into t

[2019-01-08 16:49] hacdias commented on #600
There's no way of starting it automatically with no-auth. Please use `config init` for that or change using `config set`.

I didn't change the existence or non-existence of shells on the Dockerfile. But please change that so there is 😄

Only non-server and non-auth related settings are available from the UI.

[2019-01-08 16:50] hacdias commented on #619
Just added it! On the next PR we'll check if it's working.

[2019-01-08 16:52] hacdias commented on #600
`quickSetup` is actually what the name says: a quick setup.

[2019-01-08 17:01] eine commented on #600
Not really 😋 . I was the last one modifying those lines, but the content was there far before:

- https://github.com/filebrowser/filebrowser/commit/00da35b91d759378015105a020e09a1591f5a92c#diff-3254677a7917c6c01f55212f86c57fbf
- https://github.com/filebrowser/filebrowser/commit/6f394641304b9c51cc2928539eddc29d2382ce82#diff-3254677a7917c6c01f55212f86c57fbf

It seems to be because of #274. Are you s

[2019-01-08 17:08] hacdias commented on #600
😱 it was me! I believe it doesn't. It was related to the previous version of archiver. I don't think we need it anymore. Can you try removing it and then download a file?

We could add a flag for noauth that would only be used if in quick setup mode just as username and password. Not sure if we should add all auth params though. They all require a lot of configuration for their own so I think it's

[2019-01-08 17:15] eine commented on #619
Cool! However, I think I cannot edit the content. I mean, mark issues as wontfix/invalid.

[2019-01-08 17:27] eine commented on #600
See #620.

I might be missing some knowledge about the internals here. What configuration is required for auth settings? I was thinking about adding `auth.method` and `auth.header` to root:

- For `noauth`, the later is not required.
- With proxy, is anything more required?
- With JSONAuth (default), "username" and "password" are used, "admin" being the default.

We can limit the available auth op

[2019-01-08 17:31] hacdias commented on #600
And then, you had to add all recaptcha settings which are tied to JSON auth. Not obligatory but they are JSON auth options. And (like a snowball), someone creates a new Auther and then we get new options :P

We're already omitting the possibility to add Recaptcha through quick setup. If we add sth, IMO, it should only be `--noauth` or something similar.

[2019-01-08 17:35] eine commented on #600
I thought that recaptcha settings were independent from JSON. Therefore, I agree with you. We can only allow auth methods that need no additional parameters. For now, it is only `noauth`.

[2019-01-08 17:42] hacdias commented on #619
Please go to you OAuth Settings here on GitHub and make sure that Code Climate has access to File Browser. If not, request access please

[2019-01-08 17:43] hacdias commented on #600
I will add that flag then!

[2019-01-08 17:49] eine commented on #614
I think we can extend it for a user to be able to be in multiple groups. For each resource, we evaluate the permissions of each of the groups and the ones of the user, resulting in the most permissive.

So, each user struct has a new field which is a list of groups. But I am not sure about how to implement groups. Would those be users without login? Or should be declare a new type? I think a new t

[2019-01-08 18:00] eine commented on #619
I can see Code Climate in Settings > Applications > Authorized OAuth Apps. But, there is nothing to configure there.

I cannot access File Browser Organization Settings in GitHub, because I am not an owner. But I can see other organizations there (which I own). Coherently, I can add repos from those organizations to Code Climate.

Therefore, I think that it might be limited to organization owners.

[2019-01-08 18:05] hacdias commented on #614
Yes, a different struct. But let's wait for 2.0 to be released and polished. This would be an excellent feature, but let's focus on the current work now.

This would need a completely restructure of how we see users. All users would need to have groups, but one of the groups could be special in the way that it doesn't define anything so the user is defined by itself. That would simplify code (in m

[2019-01-08 18:07] hacdias commented on #619
It's not limited to owners. According to their docs, I should be able to add you. I'm trying to figure out how

[2019-01-08 18:11] hacdias commented on #619
@1138-4EB could you try now?

[2019-01-08 18:12] hacdias commented on #600
Will close this as the new Dockerfile is merged

[2019-01-08 18:12] #600 closed, assigned to nobody

[2019-01-08 18:15] eine commented on #619
For some reason my account was blocked. I'm trying to fix it.

[2019-01-08 18:15] hacdias commented on #619
Blocked? How so?

[2019-01-08 18:17] eine commented on #619
At some point I tried to revoke access from GitHub and enable it again. But it didn't logout properly, so it created a user tied to my email account, with an unknown password. Now, if I try to login with GitHub it says that the email is already used.

[2019-01-08 18:28] eine commented on #619
It works now! I reset the account, linked it to GitHub, I can acces settings now.

[2019-01-08 18:28] #619 closed, assigned to nobody

[2019-01-08 18:45] hacdias commented on #574
@1138-4EB let's release it!

I've also removed branch v1. If we need it, we can just run `git checkout -b v1 v1.11.0`.

[2019-01-08 20:05] eine commented on #617
If I recall correctly, viper already does this with environment variables. I.e., each time `viper.GetString` is called, the corresponding envvar is evaluated. However, from our point of view is quite useless ATM, because we read the parameters just once (when starting the server). Even if viper changed the values (either because envvars are reset or because a config file change), the server would

[2019-01-08 20:29] hacdias commented on #617
Yes, that was what I was thinking but I'm not sure if it's worth it

[2019-01-09 01:32] eine commented on #574
It has been harder than expected, but [`v2.0.0-rc.1` is out](https://github.com/filebrowser/filebrowser/releases/tag/v2.0.0-rc.1)!

[2019-01-09 03:00] itchat opened #624 "redirect issue of the newest version 1.11"

[2019-01-09 03:10] dream10201 commented on #605
删除filebrowser.db就可以了

[2019-01-09 05:48] helloray commented on #574
@hacdias @1138-4EB It seems search function is not working. Items in search results can not be opened by click. Another question: How to enable the builtin https? I tried the -t option,  but filebrowser was still using http not https.

[2019-01-09 05:58] #624 closed, assigned to nobody

[2019-01-09 06:20] princemaple commented on #574
Does it integrate with caddy yet?

[2019-01-09 07:08] hacdias commented on #574
@princemaple Caddy plugin will be available upon the next release of Caddy which can take a while yet.

@helloray you must set both the certificate and the key for HTTPS to work.

About search: it was working on my end two days ago and I don't remember changing anything about it. Hmm... I'll take a look just to make sure

[2019-01-09 07:34] hacdias commented on #574
@helloray just tested and items seem to open on click. You can click and there is an error or you can't even click?

Although I found some other issues (not related to clickability): #625

[2019-01-09 09:45] ytzelf opened #627 "timeout on commands that connect to a locked database"
**Description**
Any command I pass through docker-compose (e.g. docker-compose exec filebrowser ./filebrowser config cat) returns timeout

**Expected behaviour**
Use the command line utility to manipulate users and config

**What is happening instead?**
Command returns
`2019/01/09 10:41:54 timeout`
Container logs (docker-compose logs filebrowser) returns
[code]

**How to reproduce?**
Here's my min

[2019-01-09 10:48] princemaple commented on #574
I build caddy from source. I should have asked "does it compile with caddy" rather. I just tried, it compiles.

[code]
However I can't get filemanager/filebrowser to work.

When I used `filemanager`, I got:

    2019/01/09 10:41:53 no action found for directive 'filemanager' with server type 'http' (missing a plugin?)

`filebrowser` I got:

    2019/01/09 10:41:37 /etc/Caddyfile:3 - Error during p

[2019-01-09 10:50] princemaple commented on #574
Oh I see, I am currently building against caddy v0.11.1 which hasn't got [this commit](https://github.com/mholt/caddy/commit/f5aaa471deb35fad58a5a6394b05bbf7e42ac61a) yet.

[2019-01-09 11:37] hacdias commented on #574
@princemaple the caddy plugin is not yet finished. It will be finished at most next week. If you look at the repo (filebrowser/caddy) you'll see a lot of code commented and unfinished.

[2019-01-09 11:55] princemaple commented on #574
Ah thanks for the information

[2019-01-09 15:30] hacdias commented on #627
@ytzelf it seems that docker isn't running the command you typed but just the [entrypoint](https://github.com/filebrowser/filebrowser/blob/master/Dockerfile#L11). Probably we should replace Entrypoint by CMD. /cc @1138-4EB

[2019-01-09 15:35] eine commented on #627
I'd say that docker is running `filebrowser ./filebrowser config cat`. The command should be `docker-compose exec filebrowser config cat`.

Since there is no other binary/executable in the container, it is ok for the entrypoint to be `filebrowser`. Overall, the container replaces the binary functionally, it is not a VM with some content.

[2019-01-09 15:43] eine opened #628 "[v2] Failing to start a container with the database file bind to the host"
**Description**

I am trying to start a container on Win10, with the database file bind to the host:

[code]

**Expected behaviour**
I'd expect the container to start and setup the database. This was the procedure with v1.

**What is happening instead?**
It seems that, because the database file exists, filebrowser does not initialize it. So, when trying to read content from it, it fails.

[2019-01-09 15:53] hacdias commented on #628
@1138-4EB maybe we should add a little info to the DB telling if it's initialized or not. Maybe adding a "version" info. That way, when there are structural updates, we can upgrade the DB without user intervention. I can take care of that 😄

[2019-01-09 15:57] hacdias commented on #627
Could you try that, please, @ytzelf?

[2019-01-09 16:14] eine commented on #628
For this specific case, where the size of the DB is 0, I think that we can consider it equivalent to an unexisting DB file. It is almost the same situation; we just avoid the creation of the file.

Nevertheless, I think that adding some "version" info is an interesting feature. I am just not sure about all the contexts:

- DB file does not exist
    - Create and quicksetup.
- DB file does exist bu

[2019-01-09 17:03] hacdias commented on #628
@1138-4EB we can say invalid database file for the last case.

[2019-01-09 20:13] itsthejb commented on #472
Fantastic! Didn't know this already exists. Not easy to find, though - seems like something that would be good to add to the docs?

Here's the rule I used disallow `\/\..*$`

[2019-01-09 21:37] #628 closed, assigned to hacdias

[2019-01-09 21:40] hacdias commented on #574
~@1138-4EB I think we should release v2.0.0 now. Any bugs or fixes can go in the next patch releases.~

Releasing v2.0.0-rc.2 now.

[2019-01-11 08:43] huming2207 opened #632 "'Share' button is blocked by Ad Blocker"
**Expected behaviour**
There is a "Share" button on the top right corner, where I can generate a share link. On Windows, it works fine, but not on Linux

**What is happening instead?**
Check this out:
![image](https://user-images.githubusercontent.com/4463497/51022533-99dc9480-15d8-11e9-8c43-c7dafb54318d.png)

**Additional context**
My current environment is:
- Manjaro Linux 18.0.1
- Chromium Brow

[2019-01-11 19:36] hacdias commented on #632
Hello @huming2207! Please check your user settings, please. If you're using the same installation with the exact same user, please tell me if you see anything odd in the Developers Console (F12) or in the server logs.

[2019-01-11 23:40] huming2207 commented on #632
Hi @hacdias ,

Thanks for your reply. I've just found on my another laptop also have the same problem. It's running Windows 10 17763.253 and Google Chrome 71.0.3578.98. Then I cleared up the cache and turned off Adblock Plus, then the share button shows up.

I guess my Adblock Plus rules are too strict, or maybe your implementation somehow triggered the Adblock Plus.

![image](https://user-images.

[2019-01-12 09:13] hacdias commented on #632
oh, well... that's weird. The only difference between that button and the others is just the icon and the text. Maybe the 'share' keyword triggers AdBlock Plus, which is, in my opinion, a bit stupid. But I don't believe I can do anything about it. It's still the best word and icon.

What do you think?

[2019-01-12 12:10] huming2207 commented on #632
Yea, I guess we might either document this issue and tell the user to either disable Adblock Plus for their FileBrowser sites, or disable the additional "acceptable ads" and "block social media tracking" functions. Or alternatively, we might rename the share button to "Generate sharable download link" though it sounds weird...

[2019-01-12 17:21] fazo96 opened #633 "Calculate proper folder size"
Folders show up as being 4kb in size regardless of their content

[2019-01-12 19:02] hacdias commented on #633
Hello @fazo96! Which platform and File Browser version are you using?

[2019-01-14 08:28] fazo96 commented on #633
hey @hacdias I am running the linux amd64 build on Arch Linux using this PKGBUILD https://aur.archlinux.org/packages/filebrowser-bin/

I am still on Filebrowser 1.10 and I just noticed there is a new update, so I'll try that today

[2019-01-14 08:56] fazo96 commented on #633
The problem persists on Filebrowser 1.11

I thought maybe it was happening because the files are on an NTFS filesystem but it happens with ext4 too

[2019-01-14 09:00] hacdias commented on #633
Oh, please check v2.0 and see if the issue persists.
https://docs.filebrowser.xyz/upgrade-from-1.x

[2019-01-14 09:44] helloray commented on #633
In Linux, command "ls" also show 4096 as folder size. This is normal not a bug.

[2019-01-14 15:41] hacdias commented on #633
Yes, what @helloray said is true. Also, we shouldn't be showing directories size:

![image](https://user-images.githubusercontent.com/5447088/51122878-c7ad1d80-1812-11e9-9873-abfec6feccc5.png)

Is it in the informations modal? If so, it might have been a mistake because we aren't suppose to be showing directories size.

[2019-01-15 09:34] freedomlang opened #745 "Direct download link"
Is there a wat to get the direct download link of selected file?

[2019-01-15 16:51] dbeniamine opened #634 "Can't use external authentication method"
**Description**

I am trying to switch from V1.11.0 to 2.0.0 and I get "Something really went wrong." when accessing my files

**Expected behaviour**

Access to my files

**What is happening instead?**

![image](https://user-images.githubusercontent.com/2989133/51195426-542c0e80-18ed-11e9-90dd-91a0cdec5418.png)

**Additional context**
I use filebrowser in docker-compose behind an nginx proxy.

on

[2019-01-15 20:27] hacdias commented on #634
Hello @dbeniamine!

First of all, did you follow the instructions to [upgrade your DB](https://docs.filebrowser.xyz/upgrade-from-1.x)? It may be useful if you have more than one user and want to migrate everything.

Most of the options on that config file are deprecated and were from the previous version. Please replace it by:

[code]

You also need to mount the [database path](https://docs.filebr

[2019-01-16 08:48] efrecon commented on #627
I actually second this and can reproduce it with minimal docker (no compose) on the latest `v2.0.0` also. Try to create a fresh new and clean filebrowser like the following:

[code]

Any command that you exec into the container to operate on the local filebrowser instance will fail. Try the following for example (this is constructed as to execute in the container which name is `filebrowser` (from

[2019-01-16 08:55] efrecon commented on #634
I **think** that this is due to the `noAuth` key in the configuration (if that still is supported?). I have had similar issues when running with `--noauth` (which is supported as of the command-line help, I believe) and trying to protect through basic authentication in the reverse proxy instead. The log of my reverse proxy reports an error when accessing `/api/resources` as it does not carry the s